{% load static %}
{% include 'genesis_server/blades/blades_shared_initialization.html' %}
{% include 'genesis_server/notice/local_imports.html' %}


<!--script initialization-->
<html lang="en">
    <body >
        <!--footer-->
        {% include 'genesis_server/blades/shared_blades/blade_light_header.html' %}

        {% if mNoticeCallbackType == 'report' %}
            {% include 'genesis_server/blades/notice_template/blade_report_website_notice.html' %}
        {% elif mNoticeCallbackType == 'upload' %}
            {% include 'genesis_server/blades/notice_template/blade_upload_website_notice.html' %}
        {% endif %}

        <!--footer-->
        {% include 'genesis_server/blades/shared_blades/blade_footer.html' %}
    </body>
</html>
