{% load static %}

{% include 'Genesis/blades/blades_shared_initialization.html' %}
{% include 'Genesis/directory/local_imports.html' %}


<!--script initialization-->
<html lang="en">
    <body>

        <!-- non onion url -->
        {% include 'Genesis/blades/shared_blades/blade_onion_warning.html' %}

        <!--footer-->
        {% include 'Genesis/blades/shared_blades/blade_light_header.html' %}

        <div class="directory">

            <p class="directory__header"> Live Onion Services </p>
            <p class="directory__description">Following list contains non-blocked Onion services. These services are divided into several catagories like news and shopping. Second column of this table represent such categories.</p><br>

            {% include 'Genesis/blades/directory_template/blade_directory_pagination.html' %}
            {% include 'Genesis/blades/directory_template/blade_directory_list.html' %}

        </div>

        <!--footer-->
        {% include 'Genesis/blades/shared_blades/blade_footer.html' %}
    </body>
</html>
