.search__no-suggestion--main-container{
    min-height: 50vh;
}
.search__no-suggestion
{
    max-width: 700px;
    border-radius: 6px;
    padding: 10px;
    border:1px solid #e6e6e6;
    margin: 15px 12px 11em 6.7em;
    background: #f9f9f9;
}
.search__no-suggestion--header
{
    float: left;
    font-size: 15px;
}
.search__no-suggestion--text
{
    font-size: 15px;
    margin-top: -10px;
    width: 100%;
    clear:left;
}
.search__no-suggestion--container
{
    clear: left;
    margin-left: 12px;
    padding: 0;
}
.search__no-suggestion--item
{
    font-size: 13.5px;
    margin-top: -2px;
}
@media only screen and (max-width: 943px) {
    .search__no-suggestion
    {
        margin-left: 12px;
        background: #f9f9f9;
    }
}
