.manage_search{
    min-height: 55em;
}
.manage_search-header{
    padding-right: 2%;
}
.manage_search-header--color{
    color: #336699;
}
.manage_search-header--info-color{
    color: #4d4d4d;
}
.manage_search-container{
    padding: 2%;
    background: #f7f7f7;
    margin: 3%;
    border-radius: 7px;
}
.manage_search-query{
    margin-top: 15px;
    width: 99.5%;
    max-width: 509px;
    height: 45px;
}

.manage-search__dropdown{
    height: 45px;
    max-width: 509px;
}

.manage_search-json{
    overflow: hidden;
    padding: 25px 15px 15px 0;
    border-top: 7px solid #538cc6;
    border-radius: 7px;
    background: #e6e6e6;
}
.manage_search-dropdown{
    padding: 7px;
    margin-top: 15px;
    width: 99.5%;
    max-width: 509px;
    height: 45px;
}
.manage_search-range{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    width: 47%;
    max-width: 245px;
}
.manage_search-range--float{
    float: left;
}
.manage_search__button-raw{
    margin-left: 15px;
}
.manage_search-range--min{
    float:left;
}
.manage_search-range--max{
    margin-left: 5px;
}
.manage-json-container{
    margin-bottom: 9px;
    border-left: 5px solid orange;
    padding: 9px;
}
.manage-json{
    margin-left: -12px
}
.manage-json-container--info{
    margin-bottom: 9px;
    border-left: 5px solid orange;
    padding: 9px;
}
.manage-json-container--info-arow{
    font-size: 15px;
}
.manage-json{
    width: 100%;
}
.manage-search__custom-select {
  position: relative;
}

.manage-search__custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 943px) {
    .manage_search-container{
        padding: 5%;
        max-width: 800px;
    }
}