CrawlerInstance/applicationController/predictions.csv
TrustlySearchServices/raw/classifier_output/training_data.csv
**/*.dll
**/*.pyc
**/__pycache__/
.idea/*
env/*
logs/*
staticfiles/*
mongo-data/*
static/trustly/.well-known/model/*
db.sqlite3
.env
