CrawlerInstance/applicationController/predictions.csv
TrustlySearchServices/raw/classifier_output/training_data.csv
**/*.dll
**/*.pyc
**/__pycache__/
.idea/*
env/*
logs/*
staticfiles/*
mongo-data/*
static/trustly/.well-known/model/*
db.sqlite3
.env
db.sqlite3
.env
swagconfig/index.css.gz
swagconfig/index.html.gz
swagconfig/swagger-initializer.js
swagconfig/swagger-initializer.js.gz
swagconfig/swagger-ui-bundle.js.gz
swagconfig/swagger-ui-standalone-preset.js.gz
swagconfig/swagger-ui.css.gz
swagconfig/swaggerconfigv1.js.gz
