###### Requirements Without Version Specifiers ######
beautifulsoup4
bs4
gensim
pandas
eventlet
pyprobables
requests[socks]
stopwords
termcolor
autocorrect
cryptography
textblob
validators
raven
urllib3
stem
Pillow
thefuzz
python-Levenshtein-wheels
lxml
django-bootstrap-v5
validators
fuzz
python-dotenv

###### Requirements With Version Specifiers ######
simplejson==3.8.0
scikit-learn==1.5.1
elasticsearch==8.15.0
django==4.2.15
pymongo==4.8.0
django-appconf==1.0.6
bunch==1.0.0
nltk==3.9