.blade-welcome{
    width: 100%;
    height: 20em;
    background: #19334d;
    padding-top: 3em;
}
.blade-welcome-info{
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.blade-welcome-logo{
    width: 330px !important;
    filter: brightness(0) invert(1);
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blade-welcome-info--header{
    margin-top: 15px;
    font-size: 40px;
}.blade-welcome-info--para{
    font-size: 16px;
    line-height: 1px;
}