{% load static %}

<div class="toolbar__search">
    <!-- Left-side Buttons -->
    <div class="toolbar__left">
        {% if mSearchCallbackRelevantDocument|length > 10 %}
            
            <p class="search__results">
                About {{ mSearchCallbackResultCount }} results found
            </p>
        {% endif %}

    </div>

    <div class="toolbar__right">
        <label for="safe-search" class="toolbar__switch">
            <input type="checkbox" id="safe-search" />
            <span class="toolbar__slider"></span>
        </label>
        <span id="safe-search-label" class="toolbar__text">Enable Safe Search</span>
    </div>
</div>
