{% load static %}


<div class="keyword-insights-accordion">
  <input type="checkbox" id="keyword-insights-toggle" checked>
  <label class="keyword-insights-header" for="keyword-insights-toggle">
    Keyword Insights
    <img src="{% static 'trustly/images/dropdown_left.svg' %}"
         alt="Dropdown Arrow">

  </label>
  <div class="keyword-insights-content">
    <div class="row">
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text">Total Found</p></div>
      </div>
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text">Documents</p></div>
      </div>
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text">Links</p></div>
      </div>
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text">Pages</p></div>
      </div>
    </div>
  </div>
</div>

<div class="Results_General_Coverage-accordion">
  <input type="checkbox" id="Results_General_Coverage-toggle" checked>
  <label class="Results_General_Coverage-header" for="Results_General_Coverage-toggle">
    Results General Coverage
    <img src="{% static 'trustly/images/dropdown_left.svg' %}"
         alt="Dropdown Arrow">

  </label>
  <div class="Results_General_Coverage-content">
    <div class="row">
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text">Total Found</p></div>
      </div>
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text"><span class="active__span"></span>Active</p></div>
      </div>
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text"><span class="inactive__span"></span>Inactive</p></div>
      </div>
      <div class="col-3">
        <div><p class="right__statistics__numbers">3432</p></div>
        <div><p class="right__statistics__text"><span class="seldom__active__span"></span>Seldom Active</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="unique_url-accordion">
  <input type="checkbox" id="unique_url-toggle">
  <label class="unique_url-header" for="unique_url-toggle">
    Unique URLs
    <img src="{% static 'trustly/images/dropdown_left.svg' %}"
         alt="Dropdown Arrow">

  </label>
  <div class="unique_url-content">
    <ul class="unique_url__ul">
      {% for urls in analytics.unique_urls %}
        <li>
          <p class=" unique_url__text"><span class="unique_url__text__span"></span>{{ urls.m_title }}</p>
          <h6 class="unique_url__url">
            {{ urls.m_url }}</h6>
        </li>
      {% endfor %}


    </ul>
  </div>
</div>


<div class="unique__email-accordion">
  <input type="checkbox" id="unique__email-toggle">
  <label class="unique__email-header" for="unique__email-toggle">
    Unique Emails
    <img src="{% static 'trustly/images/dropdown_left.svg' %}"
         alt="Dropdown Arrow">

  </label>
  <div class="unique__email-content">
    {% for i in analytics.m_emails %}
      {% if forloop.counter0|divisibleby:3 %}
        <div class="email-row">
      {% endif %}
    <div class="email-column">{{ forloop.counter }}- {{ i }}</div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
    {% endif %}
    {% endfor %}
  </div>

</div>
{#<div class="threat_actor-accordion">#}
{#    <input type="checkbox" id="threat_actor-toggle">#}
{#    <label class="threat_actor-header" for="threat_actor-toggle">#}
{#        Search in Threat Actor#}
{#        <img src="{% static 'trustly/images/dropdown_left.svg' %}"#}
{#             alt="Dropdown Arrow">#}
{##}
{#    </label>#}
{#    <div class="threat_actor-content">#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <input type="search" class="threat_actor_search" placeholder="Search in threat actor ">#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="row threat_actor_checkbox_div">#}
{#            <div class="col-12">#}
{#                <input type="checkbox" id="All" name="All" value="All" checked>#}
{#                <label for="vehicle1"> All</label>#}
{#                <input type="checkbox" id="Email" name="Email" value="Email">#}
{#                <label for="vehicle2"> Email</label>#}
{#                <input type="checkbox" id="Name" name="Name" value="Name">#}
{#                <label for="vehicle3"> Name</label>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}