{% load static %}
<div class="search-result__content-webpages--container p-2 position-relative">
    {% if mDoc.mContentType|length == 0 %}
        <span class="search-content__webpages-description--category">&nbsp;&nbsp;General&nbsp;&nbsp;</span>
    {% else %}
        {% for tag in mDoc.mContentType %}
            <span class="search-content__webpages-description--category">
            &nbsp;&nbsp;{{ tag|capfirst }}&nbsp;&nbsp;
        </span>&nbsp;
        {% endfor %}
    {% endif %}
    <div class="rounded-circle position-absolute search-result__circle-status {% if mDoc.mExpiry == 0 %}bg-success{% elif mDoc.mExpiry == 1 %}bg-warning{% elif mDoc.mExpiry == 2 %}bg-danger{% endif %}"></div>
    <a href="{{ mDoc.mSearchCallbackRelevantDocumentURL }}">
        <div class="search-result__content-webpages {% if mDoc.mContentType == 'toxic' %}search-result__content-webpages--danger{% else %}search-result__content-webpages--normal{% endif %}">

            <label class="search-content__webpages-header ml-4">{{ mDoc.mSearchCallbackRelevantDocumentTitle }}</label>
            <label class="search-content__webpages-url"><img class="search-content__webpages-url--clock" src="{% static 'trustly/images/clock.svg' %}" alt="clock"><span class="url__date">{{ mDoc.mCreationDate|slice:":10" }} - {{ mDoc.mUpdateDate|slice:":10" }}</span></label><br>
            <label class="search-content__webpages-url">{{ mDoc.mSearchCallbackRelevantDocumentURL }}</label>

            <hr class="search-content__webpages-divider">
            <label class="search-content__webpages-description">
                {% autoescape off %}{{ mDoc.mSearchCallbackRelevantDocumentDescription }}{% endautoescape %}
            </label>
        </div>
    </a>

    <div class="accordion tabs">

        <input type="radio" class="tabs__radio" name="{{ forloop.counter }}-1" id="section-{{ forloop.counter }}-1">
        <label for="section-{{ forloop.counter }}-1" class="tabs__label">Section </label>
        <div class="tabs__content">
            {% for section in mDoc.mSection %}
                <p class="tabs__content-header tabs__content-header--spacing">Section {{ forloop.counter }}</p>
                <p class="accordian__body__search__content{% if not forloop.last %} tabs__content--divider{% endif %}">
                    {{ section }}
                </p>
            {% endfor %}
        </div>

        {% if mDoc.mEmails|length > 0 %}
            <div class="tabs__label--divider"></div>
            <input type="radio" class="tabs__radio" name="{{ forloop.counter }}-1" id="emails-{{ forloop.counter }}-1">
            <label for="emails-{{ forloop.counter }}-1" class="tabs__label">Emails</label>
            <div class="tabs__content">
                <div class="row mt-3 list-row">
                    {% for email in mDoc.mEmails %}
                        <div class="col-md-4 col-sm-6 col-12 mb-3">
                            <p class="accordian__body__search__content">
                                {{ forloop.counter }}.&nbsp;{{ email }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="tabs__label--divider"></div>
        <input type="radio" class="tabs__radio" name="{{ forloop.counter }}-1" id="content-{{ forloop.counter }}-1">
        <label for="content-{{ forloop.counter }}-1" class="tabs__label">Content</label>
        <div class="tabs__content">
            <p class="tabs__content-header">Raw Content</p>
            <p class="accordian__body__search__content">{{ mDoc.mSearchContent }}</p>
        </div>
    </div>
</div>
