{% load static %}

<!--pagination-->
{% if mSearchCallbackResultCount != 0 %}
       <form class="search__pagination disable-highlight">

        <div class="search__pagination-container">

            <!-- left arrow -->

            {% if mSearchCallbackCurrentPageNumber == 1%}
                <div class="search__page-navigation search__pagination--border-right" style="float:left;margin-right: 19px;text-decoration: none;opacity:0.45;cursor:context-menu;pointer-events:none;user-select:none"> &lsaquo;</div>
            {% else %}
                <a href="?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType={{mSearchCallbackRelevantSearchType}}&mSearchParamPage={% if mSearchCallbackCurrentPageNumber != '1'%}{{mSearchCallbackCurrentPageNumber|add:-1}}{% endif %}" class="search__page-navigation search__pagination--border-right" style="float:left;margin-right: 19px;text-decoration: none"> &lsaquo;</a>
            {% endif %}

            <!-- page numbers -->
            <a href="?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType={{mSearchCallbackRelevantSearchType}}&mSearchParamPage={{mNumber}}" class="search__navigation search__navigation--focus" style="float:left;color:#a6a6a6">{{mSearchCallbackCurrentPageNumber}}</a>
            <a href="?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType={{mSearchCallbackRelevantSearchType}}&mSearchParamPage={{mSearchCallbackCurrentPageNumber|add:1}}" class="search__navigation" style="float:left;color:#a6a6a6">{{mSearchCallbackCurrentPageNumber|add:"1"}}</a>

            <!-- right arrow -->
            <a href="?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType={{mSearchCallbackRelevantSearchType}}&mSearchParamPage={{mSearchCallbackCurrentPageNumber|add:1}}" class="search__page-navigation search__pagination--border-right search__pagination--border-left" style="text-decoration: none"> &rsaquo;</a>
        </div>

    </form>
{% endif %}
