{% load static %}

<!-- result counts -->
{% if mSearchCallbackRelevantDocument|length > 14 %}
    <div class="search-result__status disable-highlight" >About {{mSearchCallbackResultCount}} results found</div>
{% endif %}

<!-- spelling error -->
{% if mSearchCallbackQueryError != '' %}
    <h6 class="search-result__query-error--container"><span class="search-result__query-error--header">Did you mean: </span><span class="search-result__query-error--info"><a href="?q={{mSearchCallbackQueryErrorURL}}&pSearchParamType={{mSearchCallbackRelevantSearchType}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}">{% autoescape off %}{{mSearchCallbackQueryError}}{% endautoescape %}</a></span></h6>
{% endif %}


<!-- safe Trustly -->
{% include 'trustly/user/blades/search_template/blade_search_safe_search.html' %}

<!-- no Trustly results -->
{% if mSearchCallbackRelevantDocument|length == 0 %}
    {% include 'trustly/user/blades/search_template/blade_search_no_suggestion.html' %}
{% endif %}

<!-- trustly content -->
{% if mSearchCallbackRelevantSearchType == 'all' or mSearchCallbackRelevantSearchType == 'news' or mSearchCallbackRelevantSearchType == 'finance' %}

    <!-- trustly content url based -->
    {% for mDoc in mSearchCallbackRelevantDocument %}

        {% if forloop.counter == 3 and mSearchCallbackRelevantDocument|length > 3 %}
            {% include 'trustly/user/blades/search_template/blade_search_engine_suggestion.html' %}
        {% elif forloop.counter == 1  and mSearchCallbackRelevantDocument|length < 3 %}
            {% include 'trustly/user/blades/search_template/blade_search_engine_suggestion.html' %}
        {% endif %}

        {% include 'trustly/user/blades/search_template/blade_search_content_url_based.html' %}

    {% endfor %}


    {% if mSearchCallbackRelevantDocument|length >= 8 %}
        {% include 'trustly/user/blades/search_template/blade_search_engine_suggestion.html' %}
    {% endif %}

{% else %}

    <!-- trustly content file based -->
    <div class="search-file__reference_container">
        {% include 'trustly/user/blades/search_template/blade_search_content_file_based.html' %}
    </div>
    <div style="clear: left"></div>
{% endif %}
