{% load static %}
{% if mSearchCallbackMaxPagination > 1 %}
    <form class="search__pagination disable-highlight">
        <div class="search__pagination-container">
            {% if mSearchCallbackCurrentPageNumber == 1 %}
                <div class="search__page-navigation " disabled>
                    <img src="{% static 'trustly/images/nav-prev.svg' %}" alt="nav-prev">
                </div>
            {% else %}
                <a href="?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType={{ mSearchCallbackRelevantSearchType }}&mSearchParamPage=1" class="search__page-navigation ">
                    <img src="{% static 'trustly/images/nav-first.svg' %}" alt="nav-first">
                </a>
                <a href="?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType={{ mSearchCallbackRelevantSearchType }}&mSearchParamPage=
                        {% if mSearchCallbackCurrentPageNumber != '1' %}{{ mSearchCallbackCurrentPageNumber|add:-1 }}{% endif %}" class="search__page-navigation gc--clear-selection">
                    <img src="{% static 'trustly/images/nav-prev.svg' %}" alt="nav-prev">
                </a>
            {% endif %}

            {% for page in mSearchCallbackPageNumber %}
                <a href="?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType={{ mSearchCallbackRelevantSearchType }}&mSearchParamPage={{ page }}" class="search__navigation gc--clear-selection {% if page == mSearchCallbackCurrentPageNumber %}search__navigation--focus{% endif %}">
                    {{ page }}
                </a>
            {% endfor %}

            {% if mSearchCallbackCurrentPageNumber >= mSearchCallbackMaxPagination %}
                <div class="search__page-navigation " disabled>
                    &rsaquo;
                </div>
            {% else %}
                <a href="?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType={{ mSearchCallbackRelevantSearchType }}&mSearchParamPage={{ mSearchCallbackCurrentPageNumber|add:1 }}" class="search__page-navigation gc--clear-selection">
                    <img src="{% static 'trustly/images/nav-next.svg' %}" alt="nav-next">
                </a>
            {% endif %}
        </div>
    </form>
{% endif %}
