{% load static %}
<form class="searchbar" style="overflow: hidden;" method="GET" action="" enctype="multipart/form-data">
    <div style="display: grid">
        <div style="margin-bottom: 12px">
            <a href="../../.." class="searchbar__logo" style="float:left">
                <img src="{% static 'trustly/images/search-logo.svg' %}" alt="Brand Logo">
            </a>
        </div>

        <div class="header__div">

            <label for="sidebar__menu-toggle" class="sidebar_icon_search">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.1em" height="1.1em"
                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 1536 1280">
                    <path d="M1536 1088v128q0 26-19 45t-45 19H64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 704V576q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 192V64q0-26 19-45T64 0h1408q26 0 45 19t19 45z"
                          fill="#bfbfbf"></path>
                </svg>
            </label>

            <!--trustly box-->
            <div class="searchbar__searchbox">

                <input autocomplete="off" autocapitalize="none" type="search"
                       class="searchbar_detail-header__search-input"
                       maxlength="150" name="q" value="{{ mSearchCallbackQuery }}">
                <input autocomplete="off" autocapitalize="none" type="hidden" class="form-control"
                       name="mSearchParamPage"
                       value="1">
                <input autocomplete="off" autocapitalize="none" type="hidden" class="form-control"
                       name="mSearchParamSafeSearch"
                       value="{{ mSearchCallbackSaveSearch }}">
                <input autocomplete="off" autocapitalize="none" type="hidden" class="form-control"
                       name="pSearchParamType"
                       value="{{ mSearchCallbackRelevantSearchType }}">
                <button class="searchbar__searchbox-button disable-highlight" type="submit"><img
                        class="searchbar__searchbox-icon disable-highlight"
                        src="{% static 'trustly/images/search-icon.png' %}"
                        alt=""/></button>
            </div>
            <div class="profile__button">
                <a>
                    <img src="{% static 'trustly/images/profile-icon.svg' %}" alt="Brand Logo">
                </a>
            </div>
        </div>
    </div>
    <!--change trustly type like image video audio-->
    <div class="searchbar__search-categories">
        <span id="catagory_all"><a
                href="/search?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&mSearchParamPage=1"
                class="{% if mSearchCallbackRelevantSearchType == 'all' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--right disable-highlight"><b>All</b></a></span>
        <span id="catagory_images"><a
                href="/search?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType=monitor&mSearchParamPage=1"
                class="{% if mSearchCallbackRelevantSearchType == 'monitor' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--width searchbar__search-items--left disable-highlight"><b>Monitor</b></a></span>
        <span id="catagory_images"><a
                href="/search?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType=images&mSearchParamPage=1"
                class="ml-3 {% if mSearchCallbackRelevantSearchType == 'images' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--width searchbar__search-items--left disable-highlight"><b>Image</b></a></span>
        <span id="catagory_finance"><a
                href="/search?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType=finance&mSearchParamPage=1"
                class="ml-2 {% if mSearchCallbackRelevantSearchType == 'finance' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--width searchbar__search-items--left disable-highlight"><b>Finance</b></a></span>
        <span id="catagory_news"><a
                href="/search?q={{ mSearchCallbackQuery }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}&pSearchParamType=news&mSearchParamPage=1"
                class="{% if mSearchCallbackRelevantSearchType == 'news' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--left disable-highlight searchbar_detail-header__catagories--margin-right"><b>News</b></a></span>
    </div>
</form>



