{% load static %}

<div class="toolbar__search">
  <div class="toolbar__left">
    {% if mSearchCallbackRelevantDocument|length > 0 %}

      <p class="search__results">About {{ mSearchCallbackResultCount }} results found </p>
    {% endif %}
    {% if mSearchCallbackQueryError != '' %}
      <h6 class="search-result__query-error--container">
        <span class="search-result__query-error--header">Did you mean: </span><span class="search-result__query-error--info"><a class="gc--clear-selection" href="?q={{ mSearchCallbackQueryErrorURL }}&pSearchParamType={{ mSearchCallbackRelevantSearchType }}&mSearchParamSafeSearch={{ mSearchCallbackSaveSearch }}">{% autoescape off %}
        {{ mSearchCallbackQueryError }}{% endautoescape %}</a> ?</span></h6>
    {% endif %}

  </div>

  <form method="get" action="/search/">
    <div class="toolbar__right">
      <label for="safe-search" class="toolbar__switch">
        <input type="checkbox" id="safe-search" name="mSearchParamSafeSearch" value="True" />
        <span class="toolbar__slider"></span>
      </label>
      <span id="safe-search-label" class="toolbar__text">Enable Safe Search</span>
    </div>
  </form>


</div>
