.admin-panel--header{
    color: #2c5987;
    font-weight: bold;
}
.admin-thumbnail{
    border: 1px solid #e6e6e6;
    padding: 10px 10px 0;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 400px;
    border-bottom: 5px solid #e6e6e6;
    text-decoration: none;
    text-underline: none;
}
.admin-thumbnail:hover{
    background: #f5f5f5;
}
.admin-ref{
    text-decoration: none !important;
}
.admin-header{
    margin-left: 7px;
}
.admin-panel--info{
    color: #4d4d4d;
    font-size: 15px;
}
