{% load static %}
{% load compress %}

<!DOCTYPE html>
<head>

    <!-- Website Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{% static 'trustly/images/favicon.ico' %}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Trustly Search Engine | Dark Web  Based Search Engine">
    <meta property="og:description" content="Darkweb or Deepweb Search Engine working on multiple layered network including i2p,onion and riddle. Optimized Searches with mobile support and seperate Mobile Apps">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Trustly Search Engine | Dark Web  Based Search Engine">
    <meta property="twitter:description" content="Darkweb or Deepweb Search Engine working on multiple layered network including i2p,onion and riddle. Optimized Searches with mobile support and seperate Mobile Apps">
    <meta name="keywords" content="Dark Web,Deep Web,Hidden Web,Onion,Tor,i2p,Black Market,Porn,bitcoin,leak documents,darkweb links,deepweb links,onion links">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Helper Libraries -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'trustly/libs/bootstrap.min.css' %}">
    <link href="{% static 'trustly/css/pages/user/blades/shared/cs-onion-warning-blade.css' %}" rel="stylesheet" />
    <link href="{% static 'trustly/css/pages/user/blades/shared/cs-toolbar.css' %}" rel="stylesheet" />
    <link href="{% static 'trustly/css/pages/cs-global-properties.css' %}" rel="stylesheet" />
    {% endcompress %}

    <title>Orion Intelligence</title>

</head>