{% load static %}

{% include 'orion/user/blades/search_template/blade_search_engine_suggestion.html' %}

<div class="search__no-suggestion--main-container" >
    <div class="search__no-suggestion" >
        <p class="search__no-suggestion--header"> Your search - <strong>{{mSearchCallbackQuery}}</strong> - did not match any documents in <strong>hidden</strong> network</p>

        <p class="search__no-suggestion--text">Suggestions:</p>
        <ul class="search__no-suggestion--container">
            <li class="search__no-suggestion--item">Try changing network type</li>
            <li class="search__no-suggestion--item">Make sure spellings are correct.</li>
            <li class="search__no-suggestion--item">Try different keywords.</li>
            <li class="search__no-suggestion--item">Try more general keywords.</li>
        </ul>
    </div>
</div>
