<div class="search-file__reference_container">
    {% for mDoc in mSearchCallbackRelevantDocument %}
    <div id="search-content__danger-popup" class="overlay">
        <div class="search-content__danger-popup-container" >
            <div class="content">
                <div class="search-content__info-danger-container">
                    <p class="search-content__info-danger-header">Threat Found</p>
                    <p class="search-content__info-danger-body">Illegal content such as <b class="search-content__info-danger-porn">Porn</b> detected in requsted URL. Please be caution and select the steps below.</p>
                </div><br><br>
                <div class="search-content__danger-button-container">
                    <a href="{{mDoc.mSearchCallbackRelevantDocumentURL}}" target="_blank" style="text-decoration: none;"><button class="search-content__danger-button search-content__danger-button-auto">Open Image</button></a>
                    <a href="../report?pReportParamURL={{mDoc.mSearchCallbackRelevantDocumentURL}}" style="text-decoration: none;"><button class="search-content__danger-button search-content__danger-button-top" >Report URL</button></a>
                    <a href="#" style="text-decoration: none;"><button class="search-content__danger-button search-content__danger-button-top" >Go Back</button></a>
                </div>
            </div>
        </div>
    </div>

    <div style="float: left" class="search-file__item-container">
        <a href="{% if mDoc.mSearchCallbackRelevantSearchType == 'a' %}#search-content__danger-popup{% else %}{{mDoc.mSearchCallbackRelevantDocumentURL}} {% endif %}" target="{% if mDoc.mSearchCallbackRelevantSearchType != 'a' %} _blank {% endif %}" >
            <img src="{% if mDoc.mSearchCallbackRelevantSearchType == 'a' %} {% static 'genesis_server/images/blurredImage/blur-1.png' %} {% else %} mDoc.mSearchCallbackRelevantDocumentURL {% endif %}" class="search-file__item" alt="">
        </a>
        <div style="clear: left"></div>
        <div class="search-file__info_container">
            <label class="search-file__item-header">{{mDoc.mSearchCallbackRelevantDocumentTitle}}</label><br>
            <label class="search-file__item-url"><i class="fas fa-globe search-file__item-url--icon"></i>{{mDoc.mSearchCallbackRelevantDocumentURL}}</label>
        </div>
    </div>

    {% endfor %}
</div>
<div style="clear: left"></div>

