{% load static %}
<form class="searchbar" style="overflow: hidden;" method="GET" action="./" enctype="multipart/form-data">

    <a href="../.." class="searchbar__logo"> <img class="searchbar__logo--image" src="{% static 'genesis_server/images/favicon-search.png' %}" alt="Loading"> </a>

    <!--genesis_server box-->
    <div class="searchbar__searchbox" >
        <input autocomplete="off"  autocapitalize="none" type="search" class="searchbar_detail-header__search-input" maxlength="150" name="q" value="{{mSearchCallbackQuery}}">
        <input autocomplete="off" autocapitalize="none" type="hidden" class="form-control" name="mSearchParamPage" value="1">
        <input autocomplete="off" autocapitalize="none" type="hidden" class="form-control" name="mSearchParamSafeSearch" value="{{mSearchCallbackSaveSearch}}">
        <input autocomplete="off" autocapitalize="none" type="hidden" class="form-control" name="pSearchParamType" value="{{mSearchCallbackRelevantSearchType}}">
        <button class="searchbar__searchbox-button disable-highlight" type="submit"><img class="searchbar__searchbox-icon disable-highlight" src="{% static 'genesis_server/images/search-icon.png' %}" alt=""/></button>
    </div>

    <!--change genesis_server type like image video audio-->
    <div class="searchbar__search-categories">
        <span id="catagory_all" ><a href="./?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType=all&mSearchParamPage=1" class="{% if mSearchCallbackRelevantSearchType == 'all' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--right disable-highlight" ><b>All</b></a></span>
        <span id="catagory_images" ><a href="./?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType=images&mSearchParamPage=1" class="{% if mSearchCallbackRelevantSearchType == 'images' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--width searchbar__search-items--left disable-highlight"><b>Images</b></a></span>
        <span id="catagory_doc"><a href="./?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType=doc&mSearchParamPage=1" class="{% if mSearchCallbackRelevantSearchType == 'doc' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--left disable-highlight" ><b>Docs</b></a></span>
        <span id="catagory_finance" ><a href="./?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType=finance&mSearchParamPage=1" class="{% if mSearchCallbackRelevantSearchType == 'finance' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--width searchbar__search-items--left disable-highlight" ><b>Finance</b></a></span>
        <span id="catagory_news" ><a href="./?q={{mSearchCallbackQuery}}&mSearchParamSafeSearch={{mSearchCallbackSaveSearch}}&pSearchParamType=news&mSearchParamPage=1" class="{% if mSearchCallbackRelevantSearchType == 'news' %} searchbar__search-items_active_default {% endif %} searchbar__search-items searchbar__search-items--left disable-highlight searchbar_detail-header__catagories--margin-right" ><b>News</b></a></span>
    </div>

</form>



