{% load static %}
{% include 'genesis\blades\blades_shared_initialization.html' %}
{% include 'genesis\notice\local_imports.html' %}


<!--script initialization-->
<html lang="en">
    <body >
        <!--footer-->
        {% include 'genesis\blades\shared_blades\blade_light_header.html' %}

        {% if mNoticeCallbackType == 'report' %}
            {% include 'genesis\blades\notice_template\blade_report_website_notice.html' %}
        {% elif mNoticeCallbackType == 'upload' %}
            {% include 'genesis\blades\notice_template\blade_upload_website_notice.html' %}
        {% endif %}

        <!--footer-->
        {% include 'genesis\blades\shared_blades\blade_footer.html' %}
    </body>
</html>
