{% load static %}

{% include 'Genesis/user/blades/blades_shared_initialization.html' %}
{% include 'Genesis/user/interactive/intelligence/local_imports.html' %}


<!--script initialization-->
<html lang="en">
    <body>

        <!-- non onion url -->
        {% include 'Genesis/user/blades/shared_blades/blade_onion_warning.html' %}

        <!--footer-->
        {% include 'Genesis/user/blades/shared_blades/blade_light_header.html' %}

        <div class="intelligence">
            <p class="intelligence__header"> Intelligence Access Denied </p>
            <p class="intelligence__description">We here at Genesis believe in safer world, free of all corruption and crimes hence we also provide Threat Intelligence to government organization all around the world. Including but not limited to below<br><br>If you want to expand your Threat Intelligence extraction from Dark web please do contact with us directly at <a href="mailto:msmannan00@gmail.com" ><b style="color: #5897fb">msmannan00@gmail.com</b></a></p>
            <div class="intelligence__pointers--container">
                <ul class="intelligence__pointers">
                  <div class="intelligence__pointers--points">Threat Intelligence regarding drug cartels and worldwide distribution</div>
                  <div class="intelligence__pointers--points">Leaked documents targeting corruption within government institutions</div>
                  <div class="intelligence__pointers--points">Hacked and leaked softwares</div>
                  <div class="intelligence__pointers--points">Detection of Citizens exposed databases on sale</div>
                  <div class="intelligence__pointers--points">Organizations level Threat Intelligence</div>
                  <div class="intelligence__pointers--points">Illegal and Abusive porn detection</div>
                  <div class="intelligence__pointers--points">Live database tracking and detection</div>
                  <div class="intelligence__pointers--points">User Trend based threat intelligence</div>
                </ul>
            </div>
        <br>
        <form action="mailto:msmannan00@gmail.com" method="post" enctype="text/plain">
            <input type="submit" class="intelligence-form__submit" value="Contact US">
        </form>
        </div><br><br><br><br><br><br><br><br><br><br><br>

        <!--footer-->
        {% include 'Genesis/user/blades/shared_blades/blade_footer.html' %}
    </body>
</html>
