{% load static %}

<div class="toolbar">
    <div class="toolbar__left">
        <a href="/">
            <div class="toolbar__button {% if request.path == '/' %}toolbar__button__selected{% endif %}">Home</div>
        </a>
        <a href="/directory">
            <div class="toolbar__button {% if request.path == '/directory/' %}toolbar__button__selected{% endif %}">Links</div>
        </a>
        <a href="/#analytics" >
            <button class="toolbar__button {% if request.path == '/xx' %}toolbar__button__selected{% endif %}">Analytics</button>
            <img class="toolbar__button-rotate" width="24" height="24" src="{% static 'trustly/images/arrow_up.png' %}" alt="Icon">
        </a>
    </div>

    <div class="toolbar__right">
        <label for="safe-search" class="toolbar__switch">
            <input type="checkbox" id="safe-search" aria-labelledby="safe-search-label" />
            <span class="toolbar__slider" aria-hidden="true"></span>
        </label>
        <span id="safe-search-label" class="toolbar__text">Enable Safe Search</span>
    </div>

</div>
