* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("/static/trustly/images/back.png");
  margin-left: -5px;
  height: 100% !important;
}

.maintenance__header-divider {
  width: 150px;
  height: 5px;
  background-color: orange;
  margin-top: 5px;
  margin-bottom: 5px;
}

.maintenance__action-button {
  margin-top: 10px;
  width: 300px
}

.maintenance {
  margin-top: 100px;
  padding: 40px 15px;
  text-align: center;
}

.maintenance__actions {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px !important;
}

.maintenance__actions .btn {
  margin-right: 10px;
}

@media only screen and (max-width: 943px) {
  .maintenance {
    margin-top: 30px;
    padding: 40px 15px;
    text-align: center;
  }
}
