.onion__pagination-container{
    margin-left: 3.8em;
}
.onion__pagination{
    color:#fff!important;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border:0;
    background-color: #17406980;
    border-radius: 8px;
    padding: 8px;

}
.onion__pagination:hover{
    cursor:pointer;
    color:#fff;
    font-weight: bold;
    background: orange;
    border:0;
}
.onion__pagination--border-right{
    margin-right: 5px;
    float:left;
}
.onion__pagination--border-right:hover{
    border-width: 1px;
    border-left-width: 0;
}
.onion__pagination--border-right--extended{
    float: left;
    margin-right: 19px;
}
.onion__pagination--border-left{
    float:left;
    margin-left: 18px;
}
.onion__pagination--block{
    opacity: 0.5;
    pointer-events: none;

}
.onion__pagination--block{
    opacity: 0.5;
    pointer-events: none;
}
.onion__pagination--block-left{
    opacity: 1;
    pointer-events: auto;
    border-left: 4px solid #ffa500;
}
.onion__pagination--block-right{
    opacity: 1;
    pointer-events: auto;
    border-right: 4px solid #ffa500;
}
.onion__navigation{
    font-size:13px;
    padding: 7px 12px;
    text-decoration: none;
    text-align:center;
    margin-left: 3px;
    border-radius: 8px;
    margin-top:-2px;
    font-weight: 600;

    color: #FFFFFF!important;
    background: #174069;
}
.disable-highlight{
    margin-bottom: 0!important;
}
@media only screen and (max-width: 943px) {
    .onion__pagination-container{
        margin-left: 10px;
    }
}