.table td, .table th {
  border: none !important;
}

.directory-list__table tr {
  border-bottom: 1px solid #FCFCFC12;
  border-top: 1px solid #FCFCFC12;
}

.directory-list__table tr th {
  color: #D0D0D0;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;

}

.directory-list__table tr td {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;

}

.directory-list__table tr:nth-child(even) {
  background-color: #2A578459;
  min-height: 45px;
}

.directory-list__table tr:nth-child(odd) {
  background-color: #2A578429 !important;
  min-height: 45px;
}

.directory-list__table {
  background: #12335450;
  table-layout: fixed;
  margin-bottom: 0 !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  padding: 0 !important;
}

.directory-list__status-default-pointer {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #198754;
  margin-right: 5px;
}

.directory-list__status-inactive-pointer {
  background-color: #ffc107 !important;
}

.directory-list__content-category {
  font-weight: bold;
  color: #D4D4D4;
  border-radius: 100px;
  background: #FCFCFC0D;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin-right: 10px;
}

.directory-list__column-service-url {
  width: 40%;
}

.directory-list__column-category {
  width: 25%;
}

.directory-list__column-url-status {
  width: 10%;
}

.directory-list__column-leak-status {
  width: 10%;
}

@media only screen and (max-width: 943px) {
  .directory-list__content-category {
    padding-bottom: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 26px !important;
    margin-top: 5px;
  }

  .directory-list__container {
    padding-right: 4%;
  }

  table thead {
    display: none;
  }

  table tr {
    display: flex;
    flex-direction: column;
    padding: 1px;
  }


  table td[data-label] {
    display: flex;
    font-weight: bold;
    border-bottom: 1px solid #2A5784 !important;
  }

  table td[data-label]::before {
    content: attr(data-label);
    font-weight: 100;
    width: 50%;
  }

  .directory-list__table-url {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .directory-list__status-default-pointer {
    margin-top: 6px;
    margin-right: 15px;
  }

  .directory-list__table tr {
    border-bottom: 0;
    border-top: 0;
  }

  .directory-list__table {
    margin-left: 10px;
  }

  .directory-list__table tr th {
    font-size: 12px;
  }

  .directory-list__table tr td {
    font-size: 12px;
  }

}