.onion__pagination-container{
    margin-left: 3.8em;
}
.onion__pagination{
    color:darkgray;
    font-size: 20px;
    text-align: center;
    border:0;
    background-color: #f2f2f2;
    border-radius: 13%;
    width:35px;
    margin-top: -2px;
    padding-top: 3px;
    margin-left: 0;
    padding-bottom: 7px;
}
.onion__pagination:hover{
    cursor:pointer;
    color:#ffffff;
    font-weight: bold;
    background: orange;
    border:0;
}
.onion__pagination--border-right{
    margin-right: 5px;
    float:left;
}
.onion__pagination--border-right:hover{
    border-width: 0.8px;
    border-left-width: 0;
}
.onion__pagination--border-right--extended{
    float: left;
    margin-right: 19px;
}
.onion__pagination--border-left{
    float:left;
    margin-left: 18px;
}
.onion__pagination--block{
    opacity: 0.5;
    pointer-events: none;

}
.onion__pagination--block{
    opacity: 0.5;
    pointer-events: none;
}
.onion__pagination--block-left{
    opacity: 1;
    pointer-events: auto;
    border-left: 4px solid #ffa500;
}
.onion__pagination--block-right{
    opacity: 1;
    pointer-events: auto;
    border-right: 4px solid #ffa500;
}
.onion__navigation{
    width:39px;
    font-size:17px;
    text-decoration: none;
    text-align:center;
    margin-left: 3px;
    height:41px;
    border-radius: 5px;
    margin-right: 3px;
    padding-top: 7px;
    margin-top:-2px;
    font-weight: bold;

    color: #1a0dab;
    border-bottom: 4px solid #ffa500;
    background: #f0f0f0;
}
@media only screen and (max-width: 943px) {
    .onion__pagination-container{
        margin-left: 10px;
    }
}
