/* OVERRIDES */

.light-header{
    color:#000000;
    height: 60px;
    text-align: right;
    background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8) !important;
    border-bottom-color:#ebebeb !important;
    border-style: solid;border-right-width: 0;
    border-left-width: 0;border-top-width: 0;
    border-bottom-width: 1px;
    overflow: hidden;
}

/* Light Header Overrize*/

.light-header__menu{
    padding-top: 13px;
    margin-right: 10px;
}

.light-header__vertical-line {
  border-left: 1px solid #ebebeb;
  height: 30px;
  margin-bottom: -8px;
  margin-right: 15px;
}

.light-header__logo{
    height: auto;
    display: block;
    margin-right: auto;
    width: 11%;
    max-width: 40px;
    margin-top: 9.5px;
    cursor: pointer;
    margin-left: 10px;
    float: left;
}

.light-header__form{
    margin-top: -50px;
    float: left;
    width: 100%;
    margin-left: 50px;
    padding-right: 70px;
}


.light-header__searchbox{
    border-radius: 7px;
    align-self: center;
    height:44px;
    width:85%;
    max-width: 575px;
    display:block;
    font:14px arial,sans-serif;
    padding-left:10px;
    padding-right:15px;
    margin-left: 10px;
    float: left;
    border: 1px solid #ededed !important;
    margin-top: 7px;
    color: #595959 !important;
}

.light-header__searchbox:hover {
	outline: none;
	box-shadow: 0 2.5px 2.5px -1.5px #cccccc !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.light-header__searchbox:focus{
	outline: none;
	box-shadow: 0 2.5px 2.5px -1.5px #cccccc !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.light-header__searchbox-icon{
    width: 17px !important;
    margin-top: 5px;
    margin-right: 38px;
}


.light-header__searchbox-button{
    height: 25px;
    width: 30px;
    float: left !important;
    opacity: 1;
    cursor: pointer;
    padding-left: -10px;
    padding-right: 10px;
    background-color: white;
    margin-left: -38px;
    margin-top: 15px;
    outline: none;
    border: 0;
    z-index: 100;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bfbfbf !important;
  opacity: 1; /* Firefox */
}

::-moz-placeholder { /* Firefox 19+ */
  color: #bfbfbf !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bfbfbf !important;
}

/*light-header style*/

.light-header__menu-category--bold{
    font-weight: bold;
    color:#1967d2 !important;
    margin-right: 15px !important;
}

.light-header__menu-category--disabled{
    color: #999999;
}

.light-header__menu-category{
    margin-right: 22px;
    cursor: pointer;
    font-size: 14px;
    padding: 17px 10px 15px;
	border-bottom: 4px solid #f8f8f8;
}

.light-header__menu-category:hover{
    text-decoration: none;
	animation-duration: 2s;
    padding-top: 100px;
	animation-name: light-header__catagory_animate_hover;
	border-bottom: 4px solid #548ec4;
	transition: border-bottom-color 0.25s ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

@keyframes light-header__catagory_animate_hover {
  10% {
    background: #ededed;
    color: #336699;
  }
  100% {
    background: #ededed;
    color: #336699;
  }
}

.light-header__menu-category:focus{
    color: #8c8c8c;
    text-decoration: none;
    border-bottom: 4px solid #595959;
}

@media only screen and (max-width: 1100px) {
    .light-header__searchbox {
        width:100%;
        max-width: initial;
        margin-left:10px;
    }
    .light-header__logo {
        margin-left: 10px;
        width: 100px;
    }
    .light-header__menu {
        visibility: hidden;
    }
    .light-header__searchbox-icon{
        margin-top: 2px;
    }
}

