{% load static %}

<div class="onion__table--container">
    <table class="table table-striped directory__table">
        <thead>
            <tr>
                <th scope="row" class="w-15">ID</th>
                <th scope="col" class="w-50">Onion Service</th>
                <th scope="col" class="w-10">Category</th>
                <th scope="col" class="w-10">Leak Status</th>
                <th scope="col" class="w-10">URL Status</th>
            </tr>
        </thead>
        <tbody>
            {% for mDoc in mDirectoryCallbackLinks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                
                    {% if mDoc.mContentType in 'i a adult' %}
                    <td><a href="/restricted" class="onion__table-url">{{ mDoc.url|slice:"0:20" }}</a>...</td>
                    {% else %}
                    <td><a href="{{ mDoc.mURL }}" class="onion__table-url">{{ mDoc.url }}</a></td>
                    {% endif %}

                    {% if mDoc.mContentType == 'g' %}
                    <td class="onion__table-category"><b>General</b></td>
                    {% elif mDoc.mContentType == 'b' %}
                    <td class="onion__table-category"><b>Business</b></td>
                    {% elif mDoc.mContentType in 'n news' %}
                    <td class="onion__table-category"><b>News</b></td>
                    {% elif mDoc.mContentType in 'i a adult' %}
                    <td class="onion__table-category"><b>Restricted</b></td>
                    {% else %}
                    <td class="onion__table-category"><b>Leak Data</b></td>
                    {% endif %}

                     {% if mDoc.leak_status_date == 1 %}
                        <td class="onion__table-leak-status"><b style="color: green;">Active</b></td>
                    {% else %}
                        <td class="onion__table-leak-status"><b style="color: red;">Inactive</b></td>
                    {% endif %}

                    {% if mDoc.url_status_date == 1 %}
                        <td class="onion__table-url-status"><b style="color: green;">Active</b></td>
                    {% else %}
                        <td class="onion__table-url-status"><b style="color: red;">Inactive</b></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
