{% load static %}

<div class="directory-list__container clear-paddings">
    <table class="table table-striped directory-list__table clear-paddings">
        <thead>
        <tr>
            <th scope="row" class="directory-list__column-id">ID</th>
            <th scope="col" class="directory-list__column-service-url">Service URL</th>
            <th scope="col" class="directory-list__column-category">Category</th>
            <th scope="col" class="directory-list__column-url-status">URL Status</th>
            <th scope="col" class="directory-list__column-leak-status">Leak Status</th>
        </tr>
        </thead>
        <tbody>
        {% for mDoc in mDirectoryCallbackLinks %}
            <tr>
                <td data-label="ID">{{ forloop.counter }}</td>

                {% if mDoc.mContentType in 'i a adult' %}
                    <td data-label="Onion Service">
                        <a href="/restricted" class="directory-list__table-url text-decoration-none text-reset">{{ mDoc.url|slice:"0:20" }}</a>...
                    </td>
                {% else %}
                    <td data-label="Onion Service">
                        <a href="{{ mDoc.mURL }}" class="directory-list__table-url text-decoration-none text-reset">{{ mDoc.url }}</a>
                    </td>
                {% endif %}

                <td data-label="search-content__webpages-description--category">
                    <div class="d-flex flex-wrap">
                        {% for category in mDoc.content_type %}
                            <div class="directory-list__content-category px-2 py-1">
                                {{ category|capfirst }}
                            </div>
                        {% endfor %}
                    </div>
                </td>

                {% if mDoc.url_status_date == 1 %}
                    <td data-label="URL Status" class="onion__table-leak-status">
                        <span class="directory-list__status-default-pointer"></span>
                        Active
                    </td>
                {% else %}
                    <td data-label="URL Status" class="onion__table-leak-status">
                        <span class="directory-list__status-default-pointer directory-list__status-inactive-pointer"></span>
                        Inactive
                    </td>
                {% endif %}


                {% if mDoc.leak_status_date == 1 %}
                    <td data-label="Leak Status" class="onion__table-leak-status">
                        <span class="directory-list__status-default-pointer"></span>
                        Active
                    </td>
                {% else %}
                    <td data-label="Leak Status" class="onion__table-leak-status">
                        <span class="directory-list__status-default-pointer directory-list__status-inactive-pointer"></span>
                        Inactive
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
