{% load static %}
{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/interactive/homepage/local_imports.html' %}

{#{{mHomepageCallbackStatistics}}#}
<!-- Local Imports -->
<html lang="en">
<body class="gc--clear-selection">
<a id="top"></a>
{% include 'trustly/user/blades/shared_blades/blade_onion_warning.html' %}
{% include 'trustly/user/blades/home_template/blade_home_header.html' %}

<div class="gc--clear-selection">
    <div class="home">
        {% include 'trustly/user/blades/home_template/blade_home_button.html' %}
        {% include 'trustly/user/blades/home_template/blade_home_search.html' %}
        {# {% include 'trustly/user/blades/home_template/blade_home_references.html' %} #}
    </div>
</div>

{% include 'trustly/user/blades/home_template/blade_scroll_to_top_div.html' %}
</body>
</html>
