{% load static %}

<!-- local imports -->
{% include 'genesis/search/local_imports.html' %}
{% include 'genesis/blades/blades_shared_initialization.html' %}

<html lang="en">

    <body class="body">

        <div class="search">
            <!-- top bar -->
            {% include 'genesis/blades/search_template/blade_search_header.html' %}

            <!-- content bar -->
            {% include 'genesis/blades/search_template/blade_search_content.html' %}
        </div>

        <!-- pagination -->
        {% include 'genesis/blades/search_template/blade_search_pagination.html' %}

        <!-- footer -->
        {% include 'genesis/blades/shared_blades/blade_footer.html' %}

        <!-- content warning -->
        <div class="search-footer__report">
            <div class="search__content-warning"><span><b>Notice</b> </span><span class="search__description"> We don't own any of the content. We are just showing their links so if you found something disturbing<a href="/report" class="search-footer__report-link"><b> - Report Us</b></a></span></div>
        </div>

    </body>

</html>
