{% load static %}

<form method="GET" action="/search" class="search__form">
    <div class="home_logo_container">
        <img src="{% static 'trustly/images/home-logo.svg' %}" alt="O" width="300" height="70">
    </div>
    <div class="home__search-container">
        <input autocomplete="off" autocapitalize="none" type="text" maxlength="150"
               class="form-control home__searchbox"
               name="q" placeholder="Search"/>
    </div>
</form>

<div id="analytics">
    {% for model_name, stats in mHomepageCallbackStatistics.items %}
    <div class="flex-container">
        {% for item in stats %}
        <div class="flex-item">
            <div class="item-content">
                <div class="item-icon">
                    <img src="{% static 'trustly/images/cbimage.png' %}" alt="Brand Logo" width="57" height="12">
                </div>
                <div class="item-text">
                    <span class="item-text-primary">
                        {{ item.value }}
                    </span>
                    <span class="item-text-secondary">
                        {{ item.name }}<br>
                        {% if model_name == "generic_model" %}
                            Generic Index
                        {% elif model_name == "leak_model" %}
                            Leak Index
                        {% endif %}
                    </span>
                </div>
                <div class="item-percentage">
                    <div class="{% if item.daily_change|slice:":1" == "+" %}text-success{% elif item.daily_change|slice:":1" == "-" %}text-warning{% else %}text-body{% endif %}">
                        {{ item.daily_change|default:"-" }}
                    </div><br>
                    <div class="{% if item.weekly_change|slice:":1" == "+" %}text-success{% elif item.weekly_change|slice:":1" == "-" %}text-warning{% else %}text-body{% endif %}">
                        {{ item.weekly_change|default:"-" }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
