{% load static %}

<form method="GET" action="/search" enctype="multipart/form-data" class="search__form">
    <div class="home_logo_container">
        <img src="{% static 'trustly/images/home-logo.svg' %}" alt="Brand Logo">
    </div>
    <div class="home__search-container">
        <input autocomplete="off" autocapitalize="none" type="text" maxlength="150"
               class="form-control home__searchbox"
               name="q" placeholder="Search"/>
    </div>
</form>

<div class="flex-container">
    {% for item in mHomepageCallbackStatistics %}
        <div class="flex-item">
            <div class="item-content">
                <div class="item-icon">
                    <img src="{% static 'trustly/images/cbimage.png' %}" alt="Brand Logo" width="57" height="12">
                </div>
                <div class="item-text">
                    {% for key, value in item.items|slice:":2" %}
                        {% if forloop.counter == 2 %}
                            <span class="item-text-primary">{{ value|default:"0" }}</span>
                            <span class="item-text-secondary">{{ key|default:"Unknown" }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% for key, value in item.items|slice:":2" %}
                    {% if forloop.counter == 1 %}
                        <div class="item-percentage">
                            {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
