/* OVERRIDES */

.lhc{
    color:#000000;
    height: 60px;
    text-align: right;
    background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8) !important;
    border-bottom-color:#ebebeb !important;
    border-style: solid;border-right-width: 0;
    border-left-width: 0;border-top-width: 0;
    border-bottom-width: 1px;
}

/* Light Header Overrize*/

.lhc__menu{
    padding-top: 17px;
    margin-right: 10px;
}

.lhc_light_header__catagory--override{
    cursor: pointer;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: bold;
    padding: 0 15px 15px;
    border-bottom: 4px solid #f4f4f4;
}


.lhc_light_header__catagory--override:hover{
    color: #8c8c8c;
    text-decoration: none;
    border-bottom: 4px solid #595959;
	transition: border-bottom-color 0.25s ease-in-out;
}

.lhc_light_header__catagory--override:focus{
    color: #8c8c8c;
    text-decoration: none;
    border-bottom: 4px solid #595959;
}
.lhc{
    color:#000000;
    height: 60px;
    text-align: right;
    background-image: linear-gradient(to right, #f8f8f8, #f8f8f8);
    border-bottom-color:#cfe2e2;
    border-style: solid;border-right-width: 0;
    border-left-width: 0;border-top-width: 0;
    border-bottom-width: 1px;
}

.lhc__logo{
    height: auto;
    display: block;
    margin-right: auto;
    width: 11%;
    max-width: 40px;
    margin-top: 9.5px;
    cursor: pointer;
    margin-left: 10px;
    float: left;
}

.lhc__form{
    margin-top: -15px;
}


.lhc__searchbox{
    border-radius: 5px;
    align-self: center;
    height:44px;
    outline: none;
    width:85%;
    max-width: 575px;
    display:block;
    font:15px arial,sans-serif;
    padding-left:15px;
    padding-right:10px;
    margin-left: 10px;
    float: left;
    border: 3px solid #ffffff;
    -webkit-box-shadow: none;
    box-shadow: 0 1.5px 1.5px 0 #cccccc;
    -moz-box-shadow: none;
    margin-top: 7px;
    color: #595959 !important;
}

.pc__form{
    margin-top: -16px;
}

.fg--search {
  background: white;
  position: relative !important;
}

.fg--search input {
  width: 84.5%;
  padding: 20px 60px 20px 20px;
  display: block;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 20px;
  z-index: 2;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bfbfbf !important;
  opacity: 1; /* Firefox */
}

::-moz-placeholder { /* Firefox 19+ */
  color: #bfbfbf !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bfbfbf !important;
}
.lhc__searchbox:hover {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0 3px 3px 0 #cccccc;

}

.lhc__searchbox:focus{
  outline: none;
  border: 3px solid white;
  box-shadow: 0 3px 3px 0 #cccccc;
}

@media only screen and (max-width: 943px) {
    .lhc__searchbox {
        width:83.5%;
        max-width: 650px;
        margin-left:2.2%;
    }
    .lhc__logo {
        margin-left: 2%;
    }
    .lhc__menu {
        visibility: hidden;
    }
}




/*light-header style*/


.lhc_vertical_line {
  border-left: 1px solid #e6e6e6;
  height: 25px;
  margin-bottom: -8px;
  margin-right: 5px;
}

#lhc_id_identifier {
    background-color:#ffffff;
}

.lhc-light-header{
    color:#000000;
    text-align: right;
    padding-top: 8px;
    padding-bottom:14px;
    background: #f8f8f8 !important;
    border-bottom-color:#e6e6e6;
    border-style: solid;border-right-width: 0;
    border-left-width: 0;border-top-width: 0;
    border-bottom-width: 1px;
}

.lhc__catagory--bold{
    font-weight: bold;
    color:#1967d2 !important;
    margin-right: 7px !important;
}

.lhc__catagory_non_important{
    color: #999999;
}

.lhc__catagory--margin-right{
}

.lhc-status_bar__category{
    cursor: pointer;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: bold;
    padding: 0 15px 15px;
    border-bottom: 4px solid #f8f8f8;
}

.lhc-status_bar__category:hover{
    color: #8c8c8c;
    text-decoration: none;
    border-bottom: 4px solid #595959;
	transition: border-bottom-color 0.25s ease-in-out;
}

.lhc-status_bar__category:focus{
    color: #8c8c8c;
    text-decoration: none;
    border-bottom: 4px solid #595959;
}

@media only screen and (max-width: 943px) {
    #lhc_id_identifier {
        background-color:#ffffff;
    }
    .lhc__catagory--image{
        display: none;
    }
    .lhc-light-header{
        display: none;
    }
}
