{% load static %}

{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/server/block/local_imports.html' %}


<html lang="en" class="block-html">
<meta>

<!--script initialization-->
<html lang="en">
    <body>

        <!-- non onion url -->
        {% include 'trustly/user/blades/shared_blades/blade_onion_warning.html' %}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block__container"><br>
                        <h3><span style="border-right:4px solid orange;padding-right:10px;color:#204060"><b>Trustly</b></span><span style="padding-left:17px;color:#336699">Update Required !</span></h3><br>
                        <br>
                        <div>
                            <p>
                                Sorry for the inconvenience but we have changed our store policies and it requires you to update the application.
                                Please select the store according to your device! — <b>The Team</b></p>
                        </div>
                        <br>
                        <div class="block__action">
                            <a href="https://play.google.com/store/apps/details?id=com.hiddenservices.onionservices"  class="btn btn-info btn-lg block__action--button"><span class="glyphicon glyphicon-home">
                            </span><b>Google Play Store</b></a>
                        </div>
                        <div class="block__action">
                            <a href="https://appgallery.huawei.com/app/C106166123" class="btn btn-info btn-lg block__action--button"><span class="glyphicon glyphicon-home">
                            </span><b>Huawei App Store</b></a>
                        </div>
                        <div class="block__action">
                            <a href="https://drive.google.com/drive/folders/1eMjp4PV2D-AecvsBnxR5kh_GUNos9EG6?usp=sharing" class="btn btn-info btn-lg block__action--button"><span class="glyphicon glyphicon-home">
                            </span><b>Direct APK</b></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                     <img src="{% static 'trustly/images/server-icon.svg' %}" alt="Brand Logo">
                </div>
            </div>
        </div>
    </body>
</html>
