{% load static %}

{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/server/block/local_imports.html' %}


<html lang="en" class="block-html">
<meta>

<!--script initialization-->
<html lang="en">
    <body>

        <!-- non onion url -->
        {% include 'trustly/user/blades/shared_blades/blade_onion_warning.html' %}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block__container"><br>
                        <h3><span style="border-right:4px solid orange;padding-right:10px;color:#204060"><b>Trustly</b></span><span style="padding-left:17px;color:#336699">App Restricted !</span></h3><br>
                        <br>
                        <div>
                            <p>
                                We have restricted the access to illegal material on the darkweb to investigation agencies only.
                                If you are an investigation authority please do contact — <b>The Team</b></p>
                        </div>
                        <br>
                        <div class="block__action">
                            <a href="https://www.linkedin.com/in/msmannan00"  class="btn btn-info btn-lg block__action--button"><span class="glyphicon glyphicon-home">
                            </span><b>Linkedin</b></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                     <img src="{% static 'trustly/images/server-icon.svg' %}" alt="Brand Logo">
                </div>
            </div>
        </div>
    </body>
</html>
