{% load static %}
{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/server/maintenance/local_imports.html' %}


<!--script initialization-->
<html lang="en">
    <body>

        <!-- non onion url -->
        {% include 'trustly/user/blades/shared_blades/blade_onion_warning.html' %}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="maintenance__container">
                        <h2>
                            Temporarily down for maintenance</h2><br>
                            <hr class="maintenance__header"><br>
                        <h1>
                            We’ll be back soon!</h1>
                        <div>
                            <p>
                                Sorry for the inconvenience but we’re performing some maintenance at the moment.
                                we’ll be back online shortly! — The Team</p>
                        </div>
                        <div class="maintenance__action">
                            <a href="http://zqktlwiuavvvqqt4ybvgvi7tyo4hjl5xgfuvpdf6otjiycgwqbym2qad.onion/wiki/index.php/Main_Page"  class="btn btn-info btn-lg maintenance__action--button"><span class="glyphicon glyphicon-home">
                            </span>Explore Hidden Wiki</a>
                        </div>
                        <div class="maintenance__action">
                            <a href="/" class="btn btn-info btn-lg maintenance__action--button"><span class="glyphicon glyphicon-home">
                            </span>Retry Again</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                     <img src="{% static 'trustly/images/server-icon.svg' %}" alt="Brand Logo">
                </div>
            </div>
        </div>
    </body>
</html>
