{% load static %}

<html lang="en">

{% include 'Genesis/cms/blades/blades_shared_initialization.html' %}
{% include 'Genesis/cms/manage_status/local_imports.html' %}

{% include 'Genesis/cms/blades/shared/blade-dashboard-navbar.html' %}
<div style="clear: left"></div>
<body>

<div class="manage_status-header">
  <h3 class="manage_status-header--color"><b>Genesis Status</b></h3>
  <p class="manage_status-header--info-color">The following menu shows status of multiple Genesis Platform modules. Time tag shows most recent update request made by module</p>
</div>


<br><div class="manage_status-block">
  <b>G-search status</b> &nbsp; <span class="manage_status-update"> Last update : 1 min</span>
  <br><a href="#" class="badge badge-success manage_status-badge">Success</a>
</div>

<br><br><div class="manage_status-block">
  <b>G-crawler status</b> <span class="manage_status-update"> Last update : 100 min</span>
  <br><a href="#" class="badge badge-danger manage_status-badge" >Failure</a>
</div>

<br><br><div class="manage_status-block">
  <b>G-cronjob status</b> <span class="manage_status-update"> Last update : 100 min</span>
  <br><a href="#" class="badge badge-success manage_status-badge" >Success</a>
</div>


</body>
</html>