/*footer-bar style*/
.body{
    overflow-x: hidden !important;
}

.searchbar__logo:active{
    opacity: 0.5;
    transition: opacity 0.3s;
    width: 100%;
}

.searchbar__logo--image{
    height:55px;
    margin-top:7px;
    margin-bottom:2px;
    float: left;
}

@media only screen and (max-width: 943px) {
    .searchbar__logo--image {
        font-size:13.5px;
        margin-left:5px;
    }
}

/*detail_header style*/
.searchbar__detail-header{
    height: 197px;
    margin-top: -24px;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color:#ebebeb;
    width: 100%;
    padding-top: 23px;
    padding-left: 98px;
    padding-right: 15px;
    background-color: #fcfcfc;
}

@media only screen and (max-width: 943px) {
    .searchbar__detail-header{
        padding-left:0;
    }
}

.searchbar_detail-header__logo{
    float: left;
    cursor:pointer;
    margin-left: 10px;
    font-size: 21px;
    font-family: helvetica, serif;
    text-align: right;
    color: #767676;
    font-weight:bold;
    text-decoration:none;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;

}

.searchbar{
    width: 99.5%;
    margin-bottom: 35px;
    padding-left: 6.75em;
    overflow: hidden;
    background: #fafafa;
    margin-top: -1px;
    padding-right: 5px;
    border-bottom : 1px solid #efefef;
}

.search{
    min-height: 85vh;
}

.search-footer__report{
    color:#ff9999;
    padding-right: 18px;
    font-size: 15.5px;
    height: auto;
    margin-bottom: 0;
    background-color: #336699;
}

.search-footer__report-link{
    color: #99ccff;
    font-size: 14px;
    padding-left: 10px;
    line-height: 1px;
    margin-top: 5px;
}

.search-footer__report-link:hover{
    color: #4da6ff;
}

.search__description{
    color: white;
    font-size: 14px;
}

.search__content-warning{
    padding-top: 17px;
    padding-bottom: 19px;
    margin-left: 28px;
    color:#ffb366;
}

.searchbar__searchbox-icon{
    width: 17px;
    margin-top: -5px;
}

.searchbar__searchbox-button{
    height: 28px;
    width: 30px;
    float: right;
    opacity: 1;
    position: relative;
    right: 15px;
    top:-33.5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    outline: none;
    border: 0;
}

.searchbar_detail-header__search-icon-container{
    margin-left:13.5px;
}

.searchbar_detail-header__search-button-container{
    margin-left: 26.5px;
}

.searchbar__searchbox{
    clear: left;
    width: 100%;
    max-width: 660px;
}
.searchbar_detail-header__search-input{
    align-self: center;
	border-radius: 8px!important;
	height:44px !important;
	width:100%;
    font-size: 16px;
    color: black;
	padding-left:12px;
    margin-left: 0;
    border: 1px solid #e6e6e6;
    margin-top: 5px;
    padding-right: 45px;
}

.searchbar_detail-header__search-input:focus{
	outline: none;
	box-shadow: 0 3px 3px -1.5px #cccccc !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.searchbar_detail-header__search-input:hover{
	outline: none;
	box-shadow: 0 3px 3px -1.5px #cccccc !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.searchbar__search-categories{
    margin-left: 0;
    width: 100%;
    height:15px;
    max-width: 1726px;
    margin-top: 30px;
    color: #1A73E8;
    pointer-events: auto;
}

.searchbar__search-items--right{
    margin-right: -2px;
}

.searchbar__search-items--width{
    width: 60px !important;
}

.searchbar__search-items--left{
    margin-left: 15px;
}

.searchbar_detail-header__catagories--margin-right{
}

.searchbar__search-items{
    font-size: 13px;
    color: #777;
    cursor: pointer;
    display: block;
    width: 49px;
    height: 31px;
    float: left;
    text-align: center;
    user-select: none;
}

/*genesis_server events*/

.searchbar__search-items:hover:not(.active){
    color : #000000;
    text-decoration: none;
    border-bottom : 4px solid #ffb84d;
}

.searchbar__search-items:hover.active{
    text-decoration: none;
    color: #1F4E79;
    border-bottom : 4px solid #ffb84d;
}

.searchbar__search-items_active_default{
    text-decoration: none;
    color: #1F4E79;
    border-bottom : 4px solid #ffb84d;
    pointer-events: none;
}

.active{
    color: darkblue;
    font-weight : bold;
    border-bottom : 3px solid darkblue;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.search-content__danger-popup-container {
    height: auto;
    margin: 30px auto auto;
    border-radius: 10px;
    position: relative;
    width: 40%;
    border: 5px solid #ffa500;
    background: #ffa500;
}
.search-content__info-danger-container{
    box-shadow: 0 4px 4px -1.5px #1a1a1a;
    background: #333333;
    padding: 20px;
    height: auto;
    margin: 0;
    border-radius: 7px 7px 7px 7px;
}
.search-content__info-danger-header{
    color: orange;
    width: 100%;
    line-height: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.search-content__info-danger-body{
    color: #ffffff;
    text-align: left;
}
.search-content__info-danger-porn{
    color: #ffcc80;
}
.search-content__danger-button-container{
    width: 99%;
    margin: 10px auto auto;
}
.search-content__danger-button{
    box-shadow: 0 4px 4px -1.5px #1a1a1a;
    background: #333333;
    color: #ffffff;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    display:block;
}
.search-content__danger-button:hover{
    background: #2b2b2b;
}
.search-content__danger-button-top{
    margin: 10px auto 5px;
}
.search-content__danger-button-auto{
    margin: 0 auto;
}
.search__non-onion{
    width:100%;
    background-color:#ffb84d;
    color:white;
    padding: 11px 0 16px 15px;
    margin-bottom: 2px;
    border-bottom: 1px solid #ffa31a;
}

.search__non-onion--href{
    text-decoration:none;
    color:white;
}

.search__non-onion--button{
    cursor:pointer;
    margin-right:10px;
    padding-top:3px;
    margin-top:-3px;
    font-weight:bold;
    height:35px;
    padding-bottom:5px;
    float:right;
    background-color:#e68a00;
    border-radius:4px;
    width:70px;
    text-align:center;
}

.search__non-onion--button:hover{
    background-color:#cc7a00;
    color:white;
}
@media only screen and (max-width: 943px) {
    .searchbar__search-categories{
        margin-left: 10px;
    }
    .searchbar {
        margin-bottom:5px;
        padding-left: 0;
        padding-right: 1.5em;
    }
    .search{
        min-height: 80vh;
    }
    .searchbar_detail-header__search-input{
        margin-left: 10px;
        width: 100%;
    }
    .searchbar__searchbox-button{
        right: 3px;
    }
    .search-content__danger-popup-container {
      margin: 10px;
      height: auto;
      border-radius: 10px;
      position: relative;
      width: auto;
    }
    .search__non-onion{
    }
}

