.search-result__status{
    color: #77778c;
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 8.5em;
    margin-bottom: 10px;
}
.search-result__safe-search{
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    border-left: 0;
    cursor: pointer;
    margin-bottom: 10px;
    height: auto;
}
.search-result__safe-search--switch{
    width: 70px;
}
.search-result__safe-search--info{
    width: 90px;
}
.search-result__safe-search-container{
    padding-top: 6px;
    padding-bottom: 8px;
    padding-right: 9px;
}
.search-result__safe-search-container--border{
    margin-left: 6.8em;
    border-radius: 5px 0 0 5px;
}
.search-content__webpages-description--category{
    font-weight: bold;
    color: #006621;
    border-right: 2px solid #e6e6e6;
    padding-right: 8px;
}
.search-result__safe-search-container--switch{
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
}
.search-result__safe-search-container--non-interactable{
    background: #264d73;
    border: 1px solid #264d73;
    border-left: 2px solid #264d73;
    color: #ffffff;
}
.search-result__safe-search-container--normal{
    border: 1px solid #2d862d;
    border-left: 0;
    color: #2d862d !important;
    box-shadow: inset 1px 2px 5px #2d862d;
    transform: translateY(1px);
    background: #d9f2d9;
}
.search-result__safe-search-container--normal:hover{
    background-image: linear-gradient(to right, #c7eac7 , #daf1da);
    border: 1px solid #264d73;
    border-left: 0;
}
.search-result__safe-search-container--danger{
    border: 1px solid #991f00;
    border-left: 0;
    box-shadow: inset 1px 2px 5px #991f00;
    transform: translateY(1px);
    background: #ffd6cc;
    color: #991f00 !important;
}
.search-result__safe-search-container--danger:hover{
    background-image: linear-gradient(to right, #ffc2b3 , #ffd6cc);
    border: 1px solid #264d73;
    border-left: 0;
}
.search-result__safe-search-container:hover{
    color: #ffffff;
}


.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  top: 13px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-checked {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(180deg);
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-checked:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.slider-checked.round {
  border-radius: 34px;
}
.slider-checked.round:before {
  border-radius: 50%;
}



.search-result__safe-search--checkbox{
    cursor: pointer;
    user-select: none;
    height: 4em;
    width: 8em;
    margin-top: 40px;
    padding-right: 100px;
}
.search-result__safe-search--label{
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px;
    user-select: none;
}
.search-result__safe-search--status{
    color: #1A73E8;
    margin-left: 7px;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 2px;
}
.search-result__query-error--container{
    margin-top: 25px;
    margin-left: 7em;
}
.search-result__query-error--header{
    color: #ea4335;
    font-size: 18px;
    font-weight: 600;
}
.search-result__query-error--info{
    color: #1a0dab;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}
.search-result__content-webpages--container{
    width: 100%;
    max-width: 690px;
    margin-left: 100px;
    padding: 30px;
}
.search-result__content-webpages{
    box-shadow : none;
    cursor: pointer;
    max-width: 650px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    background: #f6f6f6;
    overflow-wrap: break-word;
}

.search-result__content-webpages:hover{
    text-decoration: none;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
	animation-name: sbc_animate_hover;
	animation-duration: 2s;
	transition: border-bottom-color 0.25s ease-in-out;
    -webkit-animation-fill-mode: forwards;
}
.search-content__webpages-header{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    width: 90%;
    cursor: pointer;
    color: #1a0dab;
    font: 13px/1.2em 'Segoe UI',Arial,Helvetica,Sans-Serif;
    font-size: 18px;
    height: 25px;
}
.search-content__webpages-url{
    font-size: 13px;
    margin-top: -7px;
    width: 90%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    cursor: pointer;
    color:#006621;
    line-height: 20px;
    font-family: arial,sans-serif;
}
.search-content__webpages-divider{
    display: none;
}
.search-content__webpages-description{
    line-height: 20px;
    cursor: pointer;
    margin-top: -5px;
    word-wrap: break-word;
    font-family: arial,sans-serif;
    font-size: 13px;
    color:#666666;
    overflow-wrap: break-word;
    width: 100%;
}
.search-file__reference_container{
    margin-left: 2.35em;
    height: auto;
    width: 96vw;
    padding-left: 10px;
    padding-right: 10%;
}
.search-file__item-container{
    margin-left: 15px;
    border-radius: 6px;
    margin-top: 3vh;
    width: 25vw;
    max-width: 300px;
    box-shadow: #f0f0f0 0 3px 3px 0;
}
.search-file__item-container:hover{
    cursor: pointer !important;
    box-shadow: #e6e6e6 0 5px 5px 0;
    padding: 0;
    transition: box-shadow 0.15s ease-in-out;
    mso-foreground: #00363a;
}
.search-file__item-divider{
    height: 2px;
    background: orange;
    border: 0;
    margin: 2px 0 0;
    width: 100%;
}
.search-file__info_container{
    width: 100%;
    height: 30%;
    min-height: 50px;
    max-height: 70px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ebebeb;
    border-top: 0;
}
.search-file__item{
    width: 100%;
    border-radius: 4px 4px 0 0;
    object-fit: scale-down;
    height: 20%;
    background-image: linear-gradient(#f7f7f7, #e6e6e6);
}
.search-file__item-header{
    white-space: nowrap !important;
    overflow: hidden  !important;
    margin-left: 1.1em  !important;
    margin-top: 6px  !important;
    font-size: 11px  !important;
    min-width: 90% !important;
    width: 90%;
    touch-action: none;
    text-overflow: ellipsis  !important;
    line-height: 16px;
    cursor: pointer;
}
.search-result__circle-status{
    width: 12px;
    height: 12px;
    top: 24px;
    left: 20px;
}

.search-file__item-url{
    touch-action: none;
    white-space: nowrap !important;
    overflow: hidden  !important;
    margin-left: 1.1em  !important;
    margin-top: -5px  !important;
    color: #999999;
    font-size: 12px  !important;
    width: 90% !important;
    text-overflow: ellipsis  !important;
    line-height: 16px;
    cursor: pointer;
    padding-right: 20px;
}
.search-file__item-url--icon{
    color: #b3b3b3;
    margin-right: 5px;
}
.search-file__expanded--button{
    background-color: #f4f4f4 !important;
    font-size: 13px;
    border: 1px solid #d9d9d9 !important;
    color: #bfbfbf !important;
}
.search-file__reference_wrapper {
}
.search-file__reference{
	align-self: center;
	height:25vh;
	border-radius: 8px;
	outline: none;
    border: 1px solid #f0f0f0;
	box-shadow: 0 3px 3px 0 #cccccc;
	width:100%;
    max-width: 575px;
	display:block;
	font:16px arial,sans-serif;
	color: black;
	margin: 0 auto 0;
	border-bottom: 6px solid #f9f9f9;
	background: #f9f9f9;
}
.search-content__expanded-container--button{
    height: 35px;
}

.search-file__reference:hover{
	animation-name: search-file__reference-animate-hover;
	animation-duration: 4s;
	transition: border-bottom-color 0.25s ease-in-out;
	border-bottom: 6px solid #548ec4;
}

@keyframes search-file__reference-animate-hover {
  10% {
	  background-color: #f0f4fa;
  	  box-shadow: 0 8px 8px 0 #cccccc;
  }
}
@media only screen and (max-width: 943px) {
    .search-result__status {
        margin-left:12px;
        margin-bottom:10px;
        margin-top: 20px;
    }
    .search-result__safe-search-container--border{
        margin-left: 11px;
    }
    .search-result__safe-search-container--switch{
    }
    .search-result__safe-search{
        margin-left: 0;
        margin-bottom: 5px;
    }
    .search-result__content-webpages{
        margin: 15px 13px 0 8px !important;
        -webkit-box-shadow: 0 0 4px 3px #f0f0f0;
        -moz-box-shadow: 0 0 4px 3px #f0f0f0;
        box-shadow: 0 0 4px 3px #f0f0f0;
   }
    .search-result__content-webpages--danger{
        border-left: 4px solid #ff8080;
   }
    .search-result__content-webpages--danger:hover{
        border-left: 4px solid #ff4d4d;
   }
    .search-result__content-webpages--normal{
        border-left: 4px solid #80bfff;
   }
    .search-result__content-webpages--normal:hover{
        border-left: 4px solid #4da6ff;
   }
    .search-content__webpages-header{
        font-weight: 500;
        cursor: pointer;
        height: 20px;
        font-size: 15px;
        font-family: arial,sans-serif;
    }
    .search-content__webpages-divider{
        margin-top: 1px;
        background: #f9f9f9;
        opacity: 0;
        margin-bottom: 5px;
        width: 40%;
        display: initial;
    }
    .search-content__webpages-description{
        margin-top: 5px;
        line-height: 20px;
        cursor: pointer;
        font-family: arial,sans-serif;
        font-size: 14px;
        color:#666666;
    }
    .search-file__reference_container{
        padding-left: 0;
        margin-left: 0;
	}
	.search-file__reference_wrapper {
        width: 100%;
	}
    .search-file__reference{
        width: 95%;
        height: 25vh;
    }
    .search-file__item{
        margin-left: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 70%;
    }
    .search-file__item-header{
        margin-left: 0 !important;
    }
    .search-file__item-url{
        margin-left: 0 !important;
        padding-right: 10px;
     }
    .search-file__reference_container{
        padding-right: 0;
    }
    .search-file__info_container{
        background: #ffffff;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        padding-left: 10px;
    }
    .search-file__item-container{
        max-width: 45%;
        width: 50vh;
        height: 35vw;
        max-height: 230px;
    }
    .search-file__item-divider{
        height: 2px;
        background: orange;
        border: 0;
        margin: 2px 0 0;
        width: 100%;
    }
    .search-result__content-webpages--container{
        margin-left: 0;
        padding: 10px;
    }
    .search-result__query-error--container{
        margin-left: 14px !important;
        padding-right: 25px;
    }
    .search-result__circle-status{
        width: 12px;
        height: 12px;
        top: 38px;
        left: 33px;
    }
    .search-content__expanded-container{
        padding-left: 15px;
    }
}
