.search-engine-suggestion {
    box-shadow: none;
    cursor: pointer;
    max-width: 655px;
    padding: 20px;
    border-radius: 10px;
    margin: 14px 13px 0 80px;
    background: none;
    border: 1px solid #336BA1;
    background: #2A578459 !important;
}

.search-engine-highlights {
    box-shadow: none;
    cursor: pointer;
    border-left: 4px solid #80bfff;
    max-width: 650px;
    border-radius: 8px !important;
    margin: 14px 13px 30px 175px !important;
}

.search-engine-highlights--images-header {
    max-width: 650px;
    margin-bottom: 30px;
    display: block;
    background: #f9f9f9;
    border-left: 4px solid #80bfff;
    margin-top: -20px;
    padding: 10px 0 5px;
    width: 95%;
    border-radius: 8px;
    margin-left: 6.9em !important;
}

.search-engine-highlights--images {
    box-shadow: none;
    cursor: pointer;
    width: 90px;
    height: 90px;
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration: none !important;
    background: #f5f5f5;
    border-radius: 8px;
}

.search-engine-highlights--images:hover {
    -webkit-box-shadow: 0 0 4px 3px #f0f0f0;
    -moz-box-shadow: 0 0 4px 3px #f0f0f0;
    box-shadow: 0 0 4px 3px #f0f0f0;
}

.search-engine-highlights-item--glass {
    width: 17px;
    margin-top: -5px;
    margin-left: -3px;
}

.search-engine-highlights-item {
    height: 46px;
    overflow: hidden;
    max-lines: 1;
    border: 1px solid #f0f0f0;
    display: table-cell;
    line-height: 40px;
    padding: 2px 15px 17px;
    text-decoration: none;
    font-size: 14px;
    color: #8c8c8c;
}

.search-engine-highlights-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #8c8c8c;
    margin-left: 6.9em !important;
}

.search-engine-highlights-item:hover {
    color: gray;
    text-decoration: none;
    text-underline: none;
    background: #f7f7f7;
}

.search-content__description {
    font-family: arial, sans-serif;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    width: 100%;
    max-width: 560px;
    padding-right: 0;
    margin-bottom: 25px;
}

.search-content__description--text-color {
    color: #D0D0D0;
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
}

.search-content__triggers {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #292828;
    padding: 10px 12px;
}

.search-content__triggers:hover {
    text-decoration: none;
}

.search-engine-suggestion__catagory-divider {
    height: 4px;
    background: #ffdb99;
    width: 100px;
    max-width: 700px;
    margin: 10px 1000px 10px 410px;
    visibility: hidden;
}

.content__triggers__input__search {
    width: 65%;
    padding: 10px 12px;
    color: #292828;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #264D74;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.searchbar__searchbox-button__search {
    height: 28px;
    width: 30px;
    float: right;
    opacity: 1;
    position: relative;
    right: 42px;
    top: 10px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    outline: none;
    border: 0;
}

.content__triggers__input__search:focus {
    border: none;
    outline: none;
}

.content__triggers__input__search:hover {
    border: none;
    outline: none;
}

@media only screen and (max-width: 943px) {
    .search-engine-suggestion {
        margin: 20px 13px 30px 8px !important;
        -webkit-box-shadow: 0 0 4px 3px #f0f0f0;
        -moz-box-shadow: 0 0 4px 3px #f0f0f0;
        box-shadow: 0 0 4px 3px #f0f0f0;
    }

    .search-engine-highlights {
        margin: 20px 13px 20px 8px !important;
        -webkit-box-shadow: 0 0 4px 3px #f0f0f0;
        -moz-box-shadow: 0 0 4px 3px #f0f0f0;
        box-shadow: 0 0 4px 3px #f0f0f0;
    }

    .search-engine-suggestion__catagory-divider {
        height: 4px;
        width: auto;
        background: orange;
        margin: 30px 40% 50px;
        visibility: initial;
    }

    .search-engine-highlights--images-header {
        border-left: 4px solid #80bfff;
        margin-left: 5px !important;
        -webkit-box-shadow: 0 0 4px 3px #f0f0f0;
        -moz-box-shadow: 0 0 4px 3px #f0f0f0;
        box-shadow: 0 0 4px 3px #f0f0f0;

    }

    .search-engine-highlights-header {
        margin-left: 0.8em !important;
        margin-bottom: 20px;
    }

}


.keyword-insights-accordion {
    width: 520px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #FCFCFC12;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 18px;
}

.keyword-insights-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /*transition: background-color 0.3s;*/
}


.keyword-insights-header img {
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .keyword-insights-header img {
    transform: rotate(-180deg);
}

input[type="checkbox"]:checked + .keyword-insights-header::after {
    transform: rotate(-180deg);
}

.keyword-insights-content {
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.3s ease-out;*/
}

input[type="checkbox"]:checked ~ .keyword-insights-content {
    max-height: 150px;
    padding: 15px 15px 0px 15px;
}

/*.search__content__right__div {*/
/*    padding-right: 80px;*/
/*}*/

.keyword-insights-accordion label {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #D0D0D0;
}

.keyword-insights-content .row {
    background: #2A578459;
    border-radius: 8px;
    border: 1px solid #FCFCFC12;
    padding: 12px 0px;
}

.right__statistics__numbers {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 4px
}

.right__statistics__text {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.keyword-insights-content .row .col-3:not(:last-child) {
    border-right: 1px solid #FCFCFC12;
}


.Results_General_Coverage-accordion {
    width: 520px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #FCFCFC12;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 18px;
    margin-top: 16px;
}

.Results_General_Coverage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /*transition: background-color 0.3s;*/
}


.Results_General_Coverage-header img {
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .Results_General_Coverage-header img {
    transform: rotate(-180deg);
}

input[type="checkbox"]:checked + .Results_General_Coverage-header::after {
    transform: rotate(-180deg);
}

.Results_General_Coverage-content {
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.3s ease-out;*/
}

input[type="checkbox"]:checked ~ .Results_General_Coverage-content {
    max-height: 150px;
    padding: 15px 15px 0px 15px;
}


.Results_General_Coverage-accordion label {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #D0D0D0;
}

.Results_General_Coverage-content .row {
    background: #2A578459;
    border-radius: 8px;
    border: 1px solid #FCFCFC12;
    padding: 12px 0px;
}

.right__statistics__numbers {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 4px
}

.right__statistics__text {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-bottom: 0px;
}

.Results_General_Coverage-content .row .col-3:not(:last-child) {
    border-right: 1px solid #FCFCFC12;
}

.active__span {
    height: 6px;
    width: 6px;
    background: #26B961;
    border-radius: 50px;
    margin-right: 4px;
}

.inactive__span {
    height: 6px;
    width: 6px;
    background: #DF5353;
    border-radius: 50px;
    margin-right: 4px;
}

.seldom__active__span {
    height: 6px;
    width: 6px;
    background: #EC873A;
    border-radius: 50px;
    margin-right: 4px;
}


.threat_actor-accordion {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #FCFCFC12;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 18px;
    margin-top: 16px;
}

.threat_actor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /*transition: background-color 0.3s;*/
}


.threat_actor-header img {
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .threat_actor-header img {
    transform: rotate(-180deg);
}

input[type="checkbox"]:checked + .threat_actor-header::after {
    transform: rotate(-180deg);
}

.threat_actor-content {
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.3s ease-out;*/
}

input[type="checkbox"]:checked ~ .threat_actor-content {
    max-height: 150px;
    padding: 15px 15px 0px 15px;
}


.threat_actor-accordion label {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #D0D0D0;
}

.threat_actor_search {
    background: #2A578459;
    padding: 8px 12px 8px 40px;
    border: 1px solid #FCFCFC12;
    border-radius: 8px;
    width: 100%;
    background-image: url("../../../../../images/search_threat_actor_icon.svg");
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 12px;
    color: #fff;
}

.threat_actor_search:focus {
    border: 1px solid #FCFCFC12 !important;
    outline: none !important;
}

.threat_actor-content .row .col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.threat_actor-content .row .col-12 input[type="checkbox"] {
    display: block !important;
}

.threat_actor-content .row .col-12 {
    display: flex;
    align-items: center;
}

.threat_actor_checkbox_div input[type="checkbox"] {
    appearance: none; /* Remove default checkbox styles */
    width: 16px;
    height: 16px;
    border: 1px solid #FCFCFC12;
    background-color: #2A578459;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

/* Style for the checked state */
.threat_actor_checkbox_div input[type="checkbox"]:checked {
    background-color: #2A578459;
    border: 1px solid #2A5784;
}

/* Add a white tick mark when checked */
.threat_actor_checkbox_div input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.threat_actor_checkbox_div {
    margin-top: 12px;
}

.threat_actor_checkbox_div label {
    margin-left: 4px;
    margin-right: 12px;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}


@media only screen and (max-width: 550px) {
    .col-sm-12 {
        display: grid;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }
}
.search__results__div{
    width: 70%;
}
.search__content__right__div{
    width: 30%;
    padding-right: 30px;
}
@media only screen and (max-width: 600px) {
    .search__results__div{
        width: 100%!important;
    }
    .search__content__right__div{
        width: 100%!important;
    }
}
@media only screen and (max-width: 1800px) {
    .search__results__div{
        width: 60%;
    }
    .search__content__right__div{
        width: 40%;
    }
}
@media only screen and (max-width: 1400px) {
    .search__results__div{
        padding-left: 20px;
    }
    .accordion-container{
        max-width: 500px;
    }
    .search__content__right__div{
        width: 100%;
    }
}
/*.search__content__right__div{*/
/*    width: 55%;*/
/*}*/
.unique_url-accordion {
    width: 520px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #FCFCFC12;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 18px;
    margin-top: 16px;
}

.unique_url-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /*transition: background-color 0.3s;*/
}


.unique_url-header img {
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .unique_url-header img {
    transform: rotate(-180deg);
}

input[type="checkbox"]:checked + .unique_url-header::after {
    transform: rotate(-180deg);
}

.unique_url-content {
    max-height: 0;
    overflow-y: scroll;
    /*transition: max-height 0.3s ease-out;*/
}

input[type="checkbox"]:checked ~ .unique_url-content {
    max-height: 150px;
    padding: 15px 15px 0px 0px;
}


.unique_url-accordion label {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #D0D0D0;
}

.unique_url__ul {
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
}

.unique_url__text {
    color: #D0D0D0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.unique_url__url {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0px;
}

.unique_url__ul li {
    padding: 12px 0px;

}

.unique_url__ul li:not(:last-child) {
    border-bottom: 1px solid #FCFCFC12;
}

.unique_url__text__span {
    height: 6px;
    width: 6px;
    background: #26B961;
    border-radius: 50px;
    margin-right: 8px;
}

.unique_url-content::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.unique_url-content::-webkit-scrollbar-track {
    background: #FCFCFC12; /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
}

.unique_url-content::-webkit-scrollbar-thumb {
    background-color: #FCFCFC80; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid transparent; /* Optional border around the thumb */
}

/* Optional: Custom scrollbar styling for Firefox */
.unique_url-content {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #2A5784 #2A578459; /* Thumb and track colors */
}


.unique__email-accordion {
    width: 520px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #FCFCFC12;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 18px;
    margin-top: 16px;
}

.unique__email-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /*transition: background-color 0.3s;*/
}


.unique__email-header img {
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .unique__email-header img {
    transform: rotate(-180deg);
}

input[type="checkbox"]:checked + .unique__email-header::after {
    transform: rotate(-180deg);
}

.unique__email-content {
    max-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    /*transition: max-height 0.3s ease-out;*/
}

input[type="checkbox"]:checked ~ .unique__email-content {
    max-height: 150px;
    padding: 15px 15px 0px 0px;
}


.unique__email-accordion label {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #D0D0D0;
}

.email-row {
    display: flex;
    justify-content: space-between; /* Space out the columns */
    padding: 12px 0;
    border-bottom: 1px solid #FCFCFC12; /* Add a bottom border for each row */
}

.email-row:last-child {
    border-bottom: none; /* Remove the border for the last row */
}

.email-column {
    flex: 1; /* Distribute columns equally */
    text-align: left;
    padding: 0 10px; /* Add some spacing between columns */
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.unique__email-content::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.unique__email-content::-webkit-scrollbar-track {
    background: #FCFCFC12; /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
}

.unique__email-content::-webkit-scrollbar-thumb {
    background-color: #FCFCFC80; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid transparent; /* Optional border around the thumb */
}
