.search__pagination {
  display: inline-block;
  width: auto;
  margin-left: 14.9em;
  max-width: 400px;
  margin-top: 70px;
  padding-left: 5px;
  padding-top: 6px;
  height: 50px;
  margin-bottom: 160px;
}

.search__pagination-navigation {
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  border: 0;
  background-color: #17406980;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  margin-top: -2px;
  padding-top: 8px;
  margin-left: 0;
  padding-bottom: 7px;
}

.search__pagination-navigation:hover {
  cursor: pointer;
  text-decoration: none;
}

.search__navigation {
  width: 32px;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  margin-left: 3px;
  height: 32px;
  border-radius: 8px;
  background-color: #17406980;
  margin-right: 3px;
  padding-top: 7px;
  margin-top: -2px;
  font-weight: 600;
  color: rgb(208, 208, 208)
}

.search__navigation:hover {
  text-decoration: none;
  color: #fff;
}

.search__pagination-container a.active {
  color: black;
  border-bottom: 3px solid #404040;
}

.search__pagination-container {
  display: flex;
  align-items: center;
}

.search__pagination-navigation {
  float: left;
  margin-right: 3px;
  margin-left: 3px;
  text-decoration: none;
  padding: 5px;
}

.search__pagination-navigation[disabled],
.search__pagination-navigation[disabled]:hover {
  cursor: context-menu;
  pointer-events: none;
  user-select: none;
  color: #bbb;
  opacity: 0.5;
}


@media only screen and (max-width: 943px) {
  .search__pagination {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 5px;
    padding-top: 6px;
    border-radius: 8px;
    height: 50px;
  }
}
