.safe__search-toolbar-results {
  font-weight: 400;
  margin-left: 60px;
  color: #D0D0D0;
  font-size: 12px;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  margin-bottom: 0 !important;

}

.safe__search-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 48px 30px 20px;
}

.safe__search-toolbar-error {
  margin-left: 60px;
}

.safe__search-toolbar-error-info {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}

.safe__search-toolbar-error-header {
  color: #ffc107;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 1400px) {

  .safe__search-toolbar {
    flex-direction: column;
    margin-left: 10px;
  }

  .safe__search-toolbar-results {
    margin: 0 !important;
  }

  .safe__search-toolba-toolbar-left, .safe__search-toolbar-right {
    justify-content: left;
    margin-bottom: 16px;
  }

  .safe__search-toolbar-error {
    margin-left: 14px !important;
    padding-right: 25px;
  }

}