.search-result__accordion {
  border: 1px solid #FCFCFC12;
  border-radius: 8px;
  overflow: hidden;
  height: auto;
  background: #2A578480;
}

.search-result__accordian-body {
  line-height: 20px;
  cursor: pointer;
  word-wrap: break-word;
  font-family: Roboto, sans-serif;
  color: #D0D0D0;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}

.search-result__accordian-body-padding {
  padding-left: 20px;
}

.highlight-description {
  font-weight: bold;
  color: #00bfff;
}

.search-result-tabs-label {
  margin-left: 12px;
  margin-right: 13px;
  border-left: 1px solid #FCFCFC12;
  margin-top: 15px;
  height: 20px;
}

.search-content__webpages-description-category {
  font-weight: bold;
  color: #D4D4D4;
  padding: 8px 8px;
  border-radius: 100px;
  background: #FCFCFC0D;
  font-size: 12px;
  width: 50px !important;
  font-family: Roboto, sans-serif;;
}

.search-result__content-webpages-container {
  width: 100%;
  max-width: 40vw;
  margin-left: 85px;
  padding: 30px;
  margin-bottom: 30px;
}

.search-result__content-webpages {

  box-shadow: none;
  cursor: pointer;
  max-width: 40vw;
  padding: 10px 0;
  background: none;
  overflow-wrap: break-word;
}

.search-content__webpages-header {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  overflow: hidden;
  width: 90%;
  cursor: pointer;
  color: #fff;
  max-width: 800px;
  margin-bottom: 0;
  font-size: 22px;
  font-family: Roboto, sans-serif;
}

.search-content__webpages-url-clock {
  margin-top: -3px;
}

.search-content__webpages-url {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: arial, sans-serif;
}

.search-content__webpages-divider {
  display: none;
}

.search-content__webpages-description {
  line-height: 20px;
  cursor: pointer;
  word-wrap: break-word;
  font-family: Roboto, sans-serif;;
  color: #D0D0D0;
  overflow-wrap: break-word;
  text-justify: auto;
  max-width: 1000px;
  justify-content: space-evenly;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}

.search-result__circle-status {
  width: 12px;
  height: 12px;
  top: 53px;
  left: 9px;
}

.search-result__url-date {
  color: #D0D0D0;
  font-weight: 400;
  font-size: 12px;
  margin-left: 6px;
}

.search__result-tabs {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  padding-left: 15px;
}

.accordian__body__search__content {
  color: #D0D0D0;
  font-family: Roboto, sans-serif;
}

.search-result__label {
  cursor: pointer;
  color: #D0D0D0;
  font-size: 14px;
  height: 41px;
  letter-spacing: 0.1px;
  font-family: Roboto, sans-serif;
  width: auto;
  text-align: center;
  max-width: 90px;
  padding: 13px 5px 8px;
  margin-left: 0;
}

.search-result__tabs--content-header {
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  margin-bottom: 15px;
}

.search-result__tabs-header-spacing {
  margin-bottom: 5px;
}

.search-result__tabs-radio {
  display: none;
}

.search-result__tabs-content {
  order: 1;
  width: 100%;
  line-height: 1.5;
  font-size: 0.9em;
  display: block;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease-out;
  padding-right: 15px;
}

.search-result__tabs-radio:checked + .search-result__label + .search-result__tabs-content {
  max-height: 350px;
  overflow-y: scroll;
  opacity: 1;
  scrollbar-width: thin;
  scrollbar-color: #2A5784 #2A578459;
}

.search-result__tabs-radio:checked + .search-result__label {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.search-result__tabs-radio:checked + .search-result__label + .search-result__tabs-content {
  display: initial;
}

.search-result__top-right-corner {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-bottom: 10px;
  right: 20px;
  margin-top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .search-result__content-webpages {
    margin: 15px 13px 0 8px !important;
    max-width: 100vw;
  }

  .search-result__content-webpages-container {
    margin-left: 10px;
    padding: 10px;
    max-width: 100vw;
  }

  .search-result__dropdown-close {
    width: 24px;
    height: 24px;
  }

  .search-content__webpages-header {
    font-weight: 500;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    font-family: arial, sans-serif;
  }

  .search-content__webpages-divider {
    margin-top: 1px;
    opacity: 0;
    margin-bottom: 5px;
    width: 40%;
    display: initial;
  }

  .search-content__webpages-description {
    margin-top: 5px;
    line-height: 20px;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
  }

  .search-result__circle-status {
    width: 12px;
    height: 12px;
    top: 65px;
    left: 17px;
  }
}