.search__no-suggestion--main-container{
    min-height: 50vh;
}
.search__no-suggestion
{
    max-width: 655px;
    border-radius: 10px;
    padding: 20px;
    border:1px solid #336BA1;
    margin: 15px 12px 11em 5em;
    background: #2A578459;
}
.search__no-suggestion--header
{
    float: left;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
}
.search__no-suggestion--text
{
    font-size: 15px;
    margin-top: -10px;
    width: 100%;
    clear:left;
    color: #FFFFFF;
    font-weight: 400;
}
.search__no-suggestion--container
{
    clear: left;
    margin-left: 12px;
    padding: 0;
}
.search__no-suggestion--item
{
    font-size: 13px;
    margin-top: -2px;
    color: #FFFFFF;
    font-weight: 400;
}
@media only screen and (max-width: 943px) {
    .search__no-suggestion
    {
        margin-left: 12px;
        background: #f9f9f9;
    }
}
