.search__pagination{
    display:inline-block;
    width: auto;
    margin-left: 14.9em;
    max-width: 400px;
    margin-top: 70px;
    padding-left: 5px;
    padding-top: 6px;
    height: 50px;
    margin-bottom: 160px;
}
.search__page-navigation{
    color:#FFFFFF;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    border:0;
    background-color: #17406980;
    border-radius: 8px;
    width:32px;
    height: 32px;
    margin-top: -2px;
    padding-top: 8px;
    margin-left: 0;
    padding-bottom: 7px;
}
.search__page-navigation:hover{
    cursor:pointer;
    text-decoration: none;
}
.search__navigation--focus{
    text-decoration: none;
    background-color: #174069!important;
}
.search__pagination--border-right{
    margin-right: 5px;
    float:left;
}
/*.search__pagination--border-right:hover{*/
/*    border-width: 1px;*/
/*    border-left-width: 0;*/
/*}*/
.search__pagination--border-start-right{
    margin-right: 19px;
    float:left;
}
.search__pagination--block{
    opacity: 0;
    pointer-events: none;
}
.search__pagination-icon--border-left{
    margin-left: 15px;
}
.search__navigation{
    width:32px;
    font-size:13px;
    text-decoration: none;
    text-align:center;
    margin-left: 3px;
    height:32px;
    border-radius: 5px;
    background-color: #17406980;
    margin-right: 3px;
    padding-top: 7px;
    margin-top:-2px;
    font-weight: 600;
}

.search__navigation:hover{
    text-decoration: none;
}
.search__navigation--normal{
    color:darkgray;
    background: #f9f9f9;
    border-bottom: 4px solid #cccccc;
}

.search__pagination--border-left{
    float:left;
    margin-left: 18px;
}
.search__pagination-container a.active {
    color:black;
    border-bottom : 3px solid #404040;
}

/*result-url events*/


@media only screen and (max-width: 943px) {
    .search__pagination{
        display:table;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-left: 5px;
        box-shadow: 0 2px 2px 0 #cccccc;
        border: 1px solid #EEE;
        padding-top: 6px;
        border-radius: 8px;
        height: 50px;
    }
}