{% load static %}

<head>

    <!--Website Title-->
    <title>Genesis Search Engine | Dark Web  Based Search Engine</title>

    <!--Libraries Initializations-->
    <link href="{% static 'Genesis/css/blades/privacy/cs-privacy-header-blade.css' %}" rel="stylesheet" />
    <link href="{% static 'Genesis/css/pages/cs-privacy.css' %}" rel="stylesheet" />
    <link href="{% static 'Genesis/css/blades/shared/cs-footer-blade.css' %}" rel="stylesheet" />

    <!--Meta Datas-->
    <meta name="title" content="Genesis Search Engine | Dark Web  Based Search Engine">
    <meta name="description" content="Darkweb or Deepweb Search Engine working on multiple layered network including i2p,onion and riddle. Optimized Searches with mobile support and seperate Mobile Apps">

</head>