{% load static %}

<!-- local imports -->
{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/interactive/search/local_imports.html' %}

<html lang="en">

<body class="body">

<div class="search_container">
    <div class="search">

        <!-- non onion url -->
        {% include 'trustly/user/blades/shared_blades/blade_onion_warning.html' %}

        <!-- top bar -->
        {% include 'trustly/user/blades/search_template/blade_search_header.html' %}

        <!-- content bar -->
        {% include 'trustly/user/blades/search_template/blade_search_content.html' %}
    </div>

    <!-- pagination -->


    {% include 'trustly/user/blades/search_template/blade_search_pagination.html' %}
</div>

{#        <!-- footer -->#}
{#        {% include 'trustly/user/blades/shared_blades/blade_footer.html' %}#}
{##}
{#        <!-- content warning -->#}
{#        <div class="search-footer__search">#}
{#            <div class="search__content-warning"><span><b>Notice</b> </span><span class="search__description"> We don't own any of the content. We are just showing their links so if you found something disturbing<a href="/report" class="search-footer__report-link"><b> - Report Us</b></a></span></div>#}
{#        </div>#}
<!-- Scroll to Top Button -->
<div class="scroll-to-top">
    <div class="scroll-to-top__content">
        <span class="scroll-to-top__text">Scroll to top</span>
        <span class="scroll-to-top__icon">
                    <!-- Base64 icon -->
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADeSURBVHgBpVPbDYJAELw7EHzAl4mJiTZnBbZgAbZgI1ZgAZbhF2CIaM6ZZI8cBhRwkgmbu51h97Kr1QestRE+MTgFQzmuhLnW+uXna0/IOAUX6jtyMbK1gYiX4ET1A6u50cTIQTpArCQ3YWDw96BH2W1I+F7GOY1ETIOo43ILnsELuOnImdEg7BCfwD24k7jNJNDoY91yQcERvHqGBzFrgAYrOqlxqNhCqcbj+a9BZjBNDwR3NRwF98JNYsZyBogr0TSWiWYc6fkPcUFxY5l8yGi73XAzwhXmW5XSco03+q5AT869urwAAAAASUVORK5CYII="
                         alt="Icon">
                </span>

    </div>
</div>

</body>

</html>
