/*Top Header Override*/
html {
    scroll-behavior: smooth;
}
.directory{
    min-height: 77vh
}
.directory__header{
    padding-bottom:8px;
    padding-top:8px;
    font-weight: 600;
    background: none;
    width: 55%;
    color: #336699;
    border-left: none;
    padding-left: 3.2em;
    border-radius: 0 25px 25px 0;
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 30px;
}
.directory__description{
	font:14px arial,sans-serif;
	color: #808080;
    max-width: 650px;
    padding-left: 4.4em;
    margin-bottom: 20px;
    margin-top: 10px;
}
.directory__scroller{
    text-decoration: none !important;
    background: #28282B  !important;
    color: white !important;
    text-align: center !important;
    padding-bottom: 30px !important;
    font-size: 20px !important;
    width: 50px;
    height: 50px;
    opacity: 0.85;
    display: none;
}
.directory__scroller_container{
    background: #b36b00;
    width: 123px;
    border-radius: 6px;
    opacity: 0.8;
    text-decoration: none !important;
    color: white !important;
    text-align: center !important;
    padding-bottom: 30px !important;
    font-size: 20px !important;
    height: 65px;
}

.directory__scroller:hover{
    cursor: pointer;
    background: #000000 !important;
}
.directory__table{
    margin-left: 3.8em;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    table-layout:fixed;
}
.footer__catagories--directory{
    border-bottom: 4px solid whitesmoke;
}
#top{
}
#middle {
     margin-top:500px;
}
#btn {
     position: fixed;
     bottom: 10px;
     right: 10px;
     z-index: 99;
     font-size: 15px;
     border: none;
     outline: none;
     background-color: gray;
     color: darkgray;
     cursor: pointer;
     padding: 15px;
     border-radius: 4px;
}
.directory__scroller-top{
    position: fixed;
    top: 21em !important;
    right: 20px !important;
}
.directory__scroller-bottom{
    position: fixed;
    top: 24em !important;
    right: 20px !important;
}
#btn:hover {
     background-color: white;
}
@media only screen and (max-width: 943px) {
    .directory__scroller-top{
        right:50
    }
    .directory__scroller-bottom{
        right:50
    }
    .directory__scroller{
        display:block;
    }
    .directory__scroller_container{
        margin-left: -40px;
    }
    .directory__header{
        border-left: 5px solid #2d5986;
        background: #6699cc;
        max-width: 190px;
        font-size: 16px;
        color: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
        margin-bottom: 15px;
        padding-left: 10px;
    }
    .directory__description{
        padding-left: 15px;
        padding-right: 20px;
        margin-top: 30px;
    }
    .directory__table{
        margin-left: 10px;
    }
}
