{% load static %}

<!-- references -->
<br><br>
<h6 class="home__reference_links">Featured Websites</h6>
<div class="home__reference_container">
    <div class="home__reference_wrapper">
        {% for mReferenceItem in mHomepageCallbackReference %}
        <a href="{{mReferenceItem.mUrl}}" class="gc--clear-selection" style="text-decoration:none;">
            <div class="home__reference">
                <h6 class="home__reference--header">{{mReferenceItem.mHeader}}</h6>
                <p class="home__reference_info">{{mReferenceItem.mBody}}</p>
                <div class="home__reference-image-container">
                    <img class="home__reference-image" alt="" src="{{mReferenceItem.mIcon}}"/>
                </div>
                <p class="home__reference-status"><b>Status | <span class="home__reference-status--color">running</span></b></p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
