.home-header {
  color: #000;
  background-image: linear-gradient(90deg, rgba(21, 52, 84, 1) 0%, rgba(22, 56, 88, 1) 100%) !important;
  border-bottom-color: #092137BA !important;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  overflow: hidden;
  padding: 20px 0;
}

.home-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.home-header__menu-category svg {
  fill: white;
}

.home-header__menu-category {
  cursor: pointer;
  font-size: 14px;
  padding: 17px 10px 15px;
}

.home-header__menu-category:focus {
  color: #8c8c8c;
  text-decoration: none;
}

::placeholder {
  color: #bfbfbf !important;
  opacity: 1;
}

::-moz-placeholder {
  color: #bfbfbf !important;
}

:-moz-placeholder {
  color: #bfbfbf !important;
}
