html {
  scroll-behavior: smooth;
}

.directory {
  margin: 0;
  max-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(18, 52, 84, 1) 0%,
    #2A5784 100%
  );
}

.directory__container {
  min-height: 100vh;
  padding: 40px 40px 100px;
}

.directory__header {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: none;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}

.directory__main-container {
  border-radius: 8px;
  border: 1px solid #FCFCFC12;
}

.directory__upper-heading {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 64px;
}

.directory__pagination-heading {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media only screen and (max-width: 943px) {
  .directory__container {
    min-height: 100vh;
    padding: 40px 20px 100px;
  }

  .directory__upper-heading {
    flex-direction: column;
    align-items: start !important;
    gap: 16px;
    height: 120px !important;
  }
}