/*footer-bar style*/
.body{
    overflow-x: hidden !important;
}
.search_container{
    min-height: 95vh;
    background-color: #174069;
}
.searchbar__logo:active{
    opacity: 0.5;
    transition: opacity 0.3s;
    width: 100%;
}
.scroll-to-top {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    left: 0;
    background: rgba(33, 75, 116, 0.81);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

/*.scroll-to-top:hover {*/
/*    background: rgba(33, 75, 116, 0.5); !* Slightly increase opacity on hover *!*/
/*}*/

.scroll-to-top__content {
    display: flex;
    align-items: center;
}

.scroll-to-top__icon img {
    width: 24px;
    height: 24px;
    margin-right: 8px; /* Space between icon and text */
}

.scroll-to-top__text {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    margin-right: 10px;
}

.sidebar_icon_search{
    position:absolute;
    top:24px;
    right:30px;
    display:none;
}
.searchbar__logo--image{
    height:55px;
    margin-top:11px;
    margin-bottom:2px;
    padding: 2px 0;
    margin-left:5px !important;
}

@media only screen and (max-width: 943px) {
    .searchbar__logo--image {
        font-size:13px;
        margin-left:15px !important;
    }
}

/*detail_header style*/
.searchbar__detail-header{
    height: 197px;
    margin-top: -24px;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color:#ebebeb;
    width: 100%;
    padding-top: 23px;
    padding-left: 98px;
    padding-right: 15px;
    background-color: #fcfcfc;
}

@media only screen and (max-width: 943px) {
    .searchbar__detail-header{
        padding-left:0;
    }
}

.searchbar_detail-header__logo{
    float: left;
    cursor:pointer;
    margin-left: 10px;
    font-size: 21px;
    font-family: helvetica, serif;
    text-align: right;
    color: #767676;
    font-weight:bold;
    text-decoration:none;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;

}

.searchbar{
    width: 100%;
    overflow: hidden;
    background: #174069;
    margin-top: -1px;
    padding: 40px 48px;
    padding-bottom: 0!important;
    border-bottom : 1px solid #19334D;
    margin-bottom: 0!important;
}
html::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, Edge */
}
.profile__button{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}
.header__div{
    display: flex;
    align-items: baseline;
}
.search{
    min-height: 85vh;
}

.search-footer__search{
    color:#ff9999;
    padding-right: 18px;
    font-size: 15px;
    height: auto;
    margin-bottom: 0;
    background-color: #336699;
}

.search-footer__report-link{
    color: #99ccff;
    font-size: 14px;
    padding-left: 10px;
    line-height: 1px;
    margin-top: 5px;
}

.search-footer__report-link:hover{
    color: #4da6ff;
}

.search__description{
    color: white;
    font-size: 14px;
}

.search__content-warning{
    padding-top: 17px;
    padding-bottom: 19px;
    margin-left: 28px;
    color:#ffb366;
}

.searchbar__searchbox-icon{
    width: 17px;
    margin-top: -5px;
}

.searchbar__searchbox-button{
    height: 28px;
    width: 30px;
    float: right;
    opacity: 1;
    position: relative;
    right: 15px;
    top:-33.5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    outline: none;
    border: 0;
}

.searchbar_detail-header__search-icon-container{
    margin-left:13px;
}

.searchbar_detail-header__search-button-container{
    margin-left: 26px;
}

.searchbar__searchbox{
    clear: left;
    width: 100%;
    max-width: 660px;
    margin-left: 24px;
}
.searchbar_detail-header__search-input{
    align-self: center;
	border-radius: 10px!important;
	height:44px !important;
	width:100%;
    font-size: 16px;
    color: black;
	padding-left:12px;
    margin-left: 0;
    border: 1px solid #e6e6e6;
    margin-top: 5px;
    padding-right: 45px;
}

.searchbar_detail-header__search-input:focus{
	outline: none;
	box-shadow: 0 3px 3px -1.5px #cccccc !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.searchbar_detail-header__search-input:hover{
	outline: none;
	box-shadow: 0 3px 3px -1.5px #cccccc !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.searchbar__search-categories{
    width: 100%;
    height:15px;
    max-width: 1726px;
    margin-top: 30px;
    margin-left: 135px;
    color: #1A73E8;
    pointer-events: auto;
}

.searchbar__search-items--right{
    margin-right: -2px;
}

.searchbar__search-items--width{
    width: 60px !important;
}

.searchbar__search-items--left{
    margin-left: 7px;
}
.searchbar__search-items--intelligence{
    margin-left: 7px;
    width: 60px !important;
}
.searchbar_detail-header__catagories--margin-right{
}

.searchbar__search-items{
    font-size: 14px;
    color: #A0B8D1;
    font-weight: 400;
    cursor: pointer;
    display: block;
    width: 49px;
    height: 31px;
    float: left;
    text-align: center;
    user-select: none;
    margin-right: 30px;
}

/*trustly_server events*/

.searchbar__search-items:hover:not(.active){
    color : #000000;
    text-decoration: none;
    border-bottom : 4px solid #ffffff;
}

.searchbar__search-items:hover.active{
    text-decoration: none;
    color: #FFFFFF;
    border-bottom : 4px solid #FFFFFF;
}

.searchbar__search-items_active_default{
    text-decoration: none;
    color: #FFFFFF;
    border-bottom : 4px solid #FFFFFF;
    pointer-events: none;
}

.active{
    color: darkblue;
    font-weight : bold;
    border-bottom : 3px solid darkblue;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1 !important;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.search-content__danger-popup-container {
    height: auto;
    margin: 30px auto auto;
    border-radius: 10px;
    position: relative;
    width: 40%;
    border: 5px solid #ffa500;
    background: #ffa500;
}
.search-content__info-danger-container{
    box-shadow: 0 4px 4px -1.5px #1a1a1a;
    background: #333333;
    padding: 20px;
    height: auto;
    margin: 0;
    border-radius: 7px 7px 7px 7px;
}
.search-content__info-danger-header{
    color: orange;
    width: 100%;
    line-height: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.search-content__info-danger-body{
    color: #ffffff;
    text-align: left;
}
.search-content__info-danger-porn{
    color: #ffcc80;
}
.search-content__danger-button-container{
    width: 99%;
    margin: 10px auto auto;
}
.search-content__danger-button{
    box-shadow: 0 4px 4px -1.5px #1a1a1a;
    background: #333333;
    color: #ffffff;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    display:block;
}
.search-content__danger-button:hover{
    background: #2b2b2b;
}
.search-content__danger-button-top{
    margin: 10px auto 5px;
}
.search-content__danger-button-auto{
    margin: 0 auto;
}
@media only screen and (max-width: 943px) {
    .searchbar__search-categories{
        margin-left: 10px;
    }
    .searchbar {
        margin-bottom:5px;
        padding-left: 0;
        padding-right: 1.5em;
    }
    .search{
        min-height: 80vh;
    }
    .searchbar_detail-header__search-input{
        margin-left: 10px;
        width: 100%;
    }
    .searchbar__searchbox-button{
        right: 3px;
    }
    .search-content__danger-popup-container {
      margin: 10px;
      height: auto;
      border-radius: 10px;
      position: relative;
      width: auto;
    }
    .sidebar_icon_search{
        display:block;
    }

}