.body {
  overflow-x: hidden !important;
}

html {
  background: #1c4d7d !important;
  scroll-behavior: smooth;
}

.search_container {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, #174069 0%, #1c4d7d 100%) !important;
}

.search {
  min-height: 85vh;
}

.search__results {
  width: 50vw;
  padding-bottom: 100px;
}

.search__content__right {
  width: 50vw;
  padding-right: 25px;
}

@media only screen and (max-width: 1400px) {
  .search__content__right {
    width: 100vw !important;
    padding-right: 30px;
  }

  .search__results {
    padding-left: 20px;
  }

  .search__results {
    width: 100vw !important;
    padding-bottom: 0px;
  }

  .search {
    min-height: 80vh;
  }
}