{% load static %}

{% include 'orion/user/blades/blades_shared_initialization.html' %}
{% include 'orion/user/server/block/local_imports.html' %}


<html lang="en" class="block-html">
<meta>

<!--script initialization-->
<body class="block-body">
        <div class="block-container">
            <img src="{% static 'orion/images/warning.png' %}" class="block-warning-image" alt="Loading"/><br><br>
            <div class="block-header-container">
                <h5 class="block-header">Official Orion Browser </h5>
                <h5 class="block-header-small">Update Required ! </h5>
            </div>
            <hr class="block-linebreak">

            <p class="block-paragraph" >Due to security and privacy issues we have blocked Orion Search Engine on some browsers. Please install official Orion Brower to use Orion Search.<br><br>Though there are no major changes in the layout and context, we have made it just a little easier for our customers and clients to find us online. We have always been a brand, and we are immensely proud to share this news with you</p>
            <a href="http://play.google.com/store/apps/details?id=com.hiddenservices.onionservices" ><input type="button" class="block-warning-button btn" value="Play Store"></a>
            <a href="http://www.amazon.com/gp/mas/dl/android?p=com.darkweb.genesissearchengine.production" ><input type="button" class="block-warning-button btn" value="Amazon Store"></a>
            <a href="http://www.samsungapps.com/appquery/appDetail.as?appId=com.darkweb.genesissearchengine.production" ><input type="button" class="block-warning-button btn" value="Galaxy Store"></a>
            <a href="https://appgallery.cloud.huawei.com/uowap/index.html#/detailApp/C106142211?appId=C106142211" ><input type="button" class="block-warning-button btn" value="Huawei Store"></a>

            <br><br><br>
        </div>
</body>
</html>
