/*Privacy Policy Text*/
.block-html {
    margin: 0;
    height:120%;
}
.block-body {
    display: flex ;
    justify-content: center ;
    background: linear-gradient(#3973ac, #132639);
    padding: 50px;
}

.block-container{
    background-repeat: no-repeat ;
    width: 95% ;
    margin: 0 0 0 3%;
    max-width: 670px ;
    color: white;font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0 ;
}

.block-header-container{
    margin-top:-25px;
    margin-left:85px;
    color:#204060;
}

.block-header{
    font-size:14pt;
    margin-right:15px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    font-weight: 700;
    color:#19334d;
}
.block-header-small{
    font-size:12.5pt;
    margin-right:15px;
    margin-top:-6px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    font-weight: 700;
    color:#22476d;
}
.block-linebreak{
    width:98%;
    background-color: #264d73 ;
    text-align:left;
    height: 2px;
    border: none;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left:0;
}

.block-warning-image{
    float:left;
    margin-top:15px;
    width: 20% ;
    max-width: 72px;
}

.block-paragraph{
    margin-right: 7%;
    color:#c6d9ec;
    font-size: 11pt;
    line-height: 1.2;
}

.block-warning-button{
    width: 98%;
    height:50px;
    margin-left: 0;
    font-size: 12pt;
    color: white;font-family: 'Helvetica', 'Arial', sans-serif;
    background: #19334d;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 4px solid #ffffff !important;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
.block-warning-button:hover{
    background: #12263a;
    color: white;
}
@media only screen and (max-width: 943px) {
    .block-body {
        padding: 0;
    }
}