{% load static %}
{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/interactive/notice/local_imports.html' %}


<!--script initialization-->
<html lang="en">
    <body >
    
        {% if mNoticeCallbackType == 'report' %}
            {% include 'trustly/user/blades/notice_template/blade_report_website_notice.html' %}
        {% elif mNoticeCallbackType == 'upload' %}
            {% include 'trustly/user/blades/notice_template/blade_upload_website_notice.html' %}
        {% endif %}

        <!--footer-->
        {% include 'trustly/user/blades/shared_blades/blade_footer.html' %}
    </body>
</html>
