{% load static %}

<html lang="en">

{% include 'Genesis/cms/blades/blades_shared_initialization.html' %}
{% include 'Genesis/cms/manage_search/local_imports.html' %}

{% include 'Genesis/cms/blades/shared_blades/blade-dashboard-navbar.html' %}
<div style="clear: left"></div>
<body>
        <div style="height: 55em;">
            <div class="manage_search-header">
              <h3 class="manage_search-header--color"><b>Quick Query System</b></h3>
              <p class="manage_search-header--info-color">The following menu is a quick query system. You can either query mongo-DB database or elastic search. Only read commands are acceptable</p>
            </div>
        </div>

        <!-- footer -->
        {% include 'Genesis/cms/blades/shared_blades/blade_footer.html' %}
</body>
</html>