{% load static %}
{% include 'orion/user/blades/blades_shared_initialization.html' %}
{% include 'orion/user/interactive/homepage/local_imports.html' %}

<!--Local Imports-->
<html lang="en">
    <body class="gc--clear-selection"  onload="onLoad()">

        <!-- non onion url -->
        {% include 'orion/user/blades/shared_blades/blade_onion_warning.html' %}

        <!-- top bar -->
        {% include 'orion/user/blades/home_template/blade_home_header.html' %}

        <!-- side bar -->
        {% include 'orion/user/blades/home_template/blade_home_sidebar.html' %}
        <!--{% if mHomepageCallbackIsMobile == False %}
            {% include 'orion/user/blades/home_template/blade_home_sidebar.html' %}
        {% else %}
            {% include 'orion/user/blades/home_template/blade_home_sidebar_mobile.html' %}
        {% endif %}-->

        <!-- content -->
        <div class="gc--clear-selection" >
            <div class="home">
                {% include 'orion/user/blades/home_template/blade_home_search.html' %}
                {% include 'orion/user/blades/home_template/blade_home_references.html' %}
            </div>
        </div>

        <!-- footer -->
        {% include 'orion/user/blades/shared_blades/blade_footer.html' %}

    </body>
</html>
