{% load static %}

{% include 'trustly/user/blades/blades_shared_initialization.html' %}
{% include 'trustly/user/interactive/directory/local_imports.html' %}


<!--script initialization-->
<!DOCTYPE>
<html lang="en">
{% include 'trustly/user/blades/home_template/blade_home_header.html' %}

<body class="clear-paddings">
    <span id="top"></span>
    <div class="directory">
        {% include 'trustly/user/blades/home_template/../../blades/shared_blades/blade_navbar.html' %}
        <div class="directory-container">
            <div class="directory__main__div">
                <div class="upper_heading">
                    <div class="padination__heading">
                        <p class="directory__header"> Live Onion Services </p>
                    </div>
                    <div class="pagination">
                        {% include 'trustly/user/blades/directory_template/blade_directory_pagination.html' %}
                    </div>
                </div>
                {% include 'trustly/user/blades/directory_template/blade_directory_list.html' %}
            </div>
        </div>
    </div>
    <span id="bottom"></span>

    {% include 'trustly/user/blades/shared_blades/blade_footer.html' %}
</body>
</html>
