.report-notice__header {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
  background: none;
  width: 55%;
  color: #336699;
  border-left: none;
  padding-left: 5.2%;
  border-radius: 0 25px 25px 0;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 0;
}

.report-notice__paragraph {
  font: 14px arial, sans-serif;
  color: #808080;
  max-width: 600px;
  padding-left: 5.2%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.report-notice__info {
  font: 14px arial, sans-serif;
  color: #595959;
  max-width: 650px;
  padding-left: 5.8%;
}

@media only screen and (max-width: 943px) {
  .report-notice {
    padding: 0 2.5em 1.2em 0;
    height: 94%;
  }

  .report-notice__header {
    border-left: 5px solid #2d5986;
    background: #6699cc;
    max-width: 200px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
    padding-left: 18px;
  }

  .report-notice__paragraph {
    padding-left: 23px;
    padding-right: 0;
  }

  .report-notice__info {
    padding-left: 35px;
    padding-right: 20px;
  }
}

@media only screen and (max-height: 543px) {
  .report-notice {
    height: 94%;
  }
}
