.onion__table--container{
    padding-right: 50%;
    margin-top: 50px;
}
.onion__table-url{
    color: #737373;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-decoration: none;
}
.onion__table-category{
    color: #0c5460;
    text-align: left;
    margin-right: 25px;
}
@media only screen and (max-width: 943px) {
    .onion__table--container{
        padding-right:4%;
    }
    .onion__table-category{
        color: #0c5460;
        text-align: right;
        margin-right: 25px;
    }
}
