{% load static %}

<!-- result counts -->
{% if mSearchCallbackRelevantDocument|length != 0 %}
    <div class="search-result__status disable-highlight" >About {{mSearchCallbackResultCount}} results found</div>
{% endif %}

<!-- spelling error -->
{% if mSearchCallbackQueryError != '' %}
    <h6 class="search-result__query-error--container"><span class="search-result__query-error--header">Did you mean: </span><span class="search-result__query-error--info"><a href="./?q={{mSearchCallbackQueryError}}">{% autoescape off %}{{mSearchCallbackQueryError}}{% endautoescape %}</a></span></h6>
{% endif %}


<!-- safe genesis -->
{% include 'genesis\blades\search_template\blade_search_safe_search.html' %}

<!-- no genesis results -->
{% if mSearchCallbackRelevantDocument|length == 0 %}
    {% include 'genesis\blades\search_template\blade_search_no_suggestion.html' %}
{% endif %}

<!-- genesis content -->
{% if mSearchCallbackRelevantSearchType == 'all' or mSearchCallbackRelevantSearchType == 'news' or mSearchCallbackRelevantSearchType == 'finance' %}

    <!-- genesis content url based -->
    {% for mDoc in mSearchCallbackRelevantDocument %}

        {% if forloop.counter == 3 and mSearchCallbackRelevantDocument|length > 3 %}
            {% include 'genesis\blades\search_template\blade_search_engine_suggestion.html' %}
        {% endif %}

        {% include 'genesis\blades\search_template\blade_search_content_url_based.html' %}

    {% endfor %}

{% else %}

    <!-- genesis content file based -->
    <div class="search-file__reference_container">
        {% for mDoc in mSearchCallbackRelevantDocument %}
            {% include 'genesis\blades\search_template\blade_search_content_file_based.html' %}
        {% endfor %}
    </div>
    <div style="clear: left"></div>
{% endif %}
