.footer__scroll-top {
  display: flex;
  align-items: center;
}

.footer__scroll-top__icon img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.footer__scroll-top__text {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  margin-right: 10px;
}

.footer__scroll-top {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  left: 0;
  background: rgba(33, 75, 116, 0.81);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

